/* body {
    background-color:#f9ce43;
} */


.qrcode.btn-blue {
    font-family: 'DB HeaventRounded';
    display: inline-block;
    font-weight: 600 !important;
    color: #fff;
    text-align: center;
    user-select: none;
    background-color: #003381;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: 20px;
    width: 150px;
    margin-bottom: 20px;
}
.qrcode.head-logo{
    width: 130px;
}
.qrcode.scanner-container{
    margin: 5px;
}
