.iron-image__container {
  position: relative;

  width: 100%;
  height: 100%;

  overflow: hidden;

  background-size: 100% 100%;
  background-clip: content-box;
  background-size: contain;
  /*display: grid;*/
  background: center;
}

.iron-image {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 0;

  transition: opacity 1s ease;
}

.iron-image--fade-in {
  opacity: 1;
}