.iron-image {
    position: initial;
}

.position-initial{
    position: initial;
}
.score-item{
    padding-top: 0px !important;
}
.store-logo-icon {
    width: 60%!important;
    margin: 11px;
    height: 60%;
}
.position-inherit{
    position: inherit;
}