h1 .limit-error{
  font-size: .5em;
  font-weight: normal;
  line-height: 1em;
  text-transform: none;
  
  position:absolute;
  left:0;
  bottom:-75px;
  width:100%;
  opacity:0;
  transition:all .2s;
}

h1 .limit-error.show{
  opacity:1;
}

nav.cardtouch {
  display: inline-block;
  margin-top: -50px;
  vertical-align: middle;
  width: 100%;
}

nav.cardtouch button {
  background: #F9CE43;
  border: 2px solid white;
  border-radius: 100%;
  box-sizing: border-box;
  color: #FFF;
  display: inline-block;
  font-size: 16px;
  line-height: 38px;
  margin: 5px 10px;
  padding: 0 5px;
  height: 40px;
  width: 40px;
  opacity: 0.8;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1) !important;
  transition: all 0.2s;
}

nav.cardtouch button i{
  display: block;
}

nav.cardtouch button:hover,
nav.cardtouch button:focus {
  border-color: #b1f7e3;
  cursor: pointer;
  opacity: 1;
}

nav.cardtouch button[disabled],
nav.cardtouch button[disabled]:hover {
  background: #afafaf;
  border-color: #afafaf;
  cursor: default;
  filter: grayscale(1);
  opacity: 0.8;
}

#cardTouch {
  display: inline-block;
  list-style: none;
  padding: 0;
  max-height: 600px;
  margin: auto;
  overflow: hidden;
  position: relative;

  perspective: 1000px;
  perspective-origin: 50% -50%;

  height: 350px;
  width: 100%;

  transition: all 1s;
  vertical-align: middle;
}



#cardTouch .date {
  color: #727991;
  font-size: 0.8em;
  margin-top: 0;
  text-transform: uppercase;
}

#cardTouch li {

  border-radius: 5px;
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  /* overflow: hidden; */
  vertical-align: top;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  transition: all 0.5s;
  opacity: 1;

  z-index: -2;
  height: max-content;
  background-size: cover;
  background-position: top;
  /* height: 66%; */
}


/* #cardTouch li .col-3,#cardTouch li .col-9{
  padding: 0px;
}
#cardTouch li .col-3{
  width: 24%;
}
#cardTouch li .col-9{
  width: 74%;
} */
#cardTouch li .bottom-left {
  position: absolute;
  bottom: -20px;
  left: 10px;
}
#cardTouch li .bottom-left>img{
  height: 40px;
}
#cardTouch li .bottom-right {
  position: absolute;
  bottom: -20px;
  right: -20px;
}

#cardTouch li .bottom-right>img{
  height: 46px;
}

/* #cardTouch li[tabindex] .row-header{
  position: absolute;
  top: 5px;
}

#cardTouch li .row-header{
  position: absolute;
  top: 5px;
} */

#cardTouch li .row-footer{
  margin-top: -20px;
} 

#cardTouch li .row-score{
  margin: -10px 0px 0px;
  margin-top: 10px;
}

#cardTouch li .row-score h2{
  font-size: 1.4rem;
}


#cardTouch li.go-away {
  opacity: 0;
  top: 600px;
  transform:rotateX(10deg);
}

#cardTouch li.error{
  color:#fff;
  text-align:center;
  padding:35px 10px;
}

#cardTouch li .card-content {
  background: white;
  opacity: 1;
  position: relative;
  padding: 5px 15px;
  top: 0;

  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#cardTouch li .card-content.open,
#cardTouch li:hover .card-content.open,
#cardTouch li:focus .card-content.open{
  top: -200px;
  opacity: 0.8;
}
#cardTouch li:hover .card-content.open .description,
#cardTouch li:focus .card-content.open .description{
  opacity: 1;
}

#cardTouch li:hover,#cardTouch li:focus {
  cursor: pointer;
}

#cardTouch li:hover .card-content,#cardTouch li:focus .card-content{
  top: -50px;
}

#cardTouch li:hover .description,#cardTouch li:focus .description {
  opacity: 0.3;
}

#cardTouch li .card-content:before {
  content: "";
  height: 7.5px;
  width: 75px;

  position: absolute;
  top: -3px;
  left: 0;
}


#cardTouch li .card-content:before {
  background-color: #747796;
}
#cardTouch li.snapshot .card-content:before {
  background-color: #749d1c;
}
#cardTouch li.soompi .card-content:before {
  background-color: #7f4fca;
}
#cardTouch li.music .card-content:before {
  background-color: #4ecdc4;
}
#cardTouch li.celeb .card-content:before {
  background-color: #ff6b6b;
}
#cardTouch li.features .card-content:before {
  background-color: #f8ca00;
}



#cardTouch .card-image {
  background-color: #F9CE43;
  border-radius: 8px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position:top;
  height: max-content;
  /* width: 100%; */
}

#cardTouch .eyebrow-title {
  text-transform: uppercase;
  font-size: 0.8em;
  margin-top: 5px;
  margin-bottom: 0;
}

#cardTouch .description {
  line-height: 1.5em;
  opacity: 0;

  transition: all 0.5s;
}

#cardTouch .open .description {
  opacity: 1;
}


@media (min-width: 663px) {
 
  #cardTouch {
    height: 600px;
  }
  nav.cardtouch {
    margin-top: 0;
    width: 50px;
  }
  nav.cardtouch button {
    transform: rotate(90deg);
  }
}


@media only screen and (max-width: 414px) {
  
  #cardTouch li {
    height: 230px;
  }
  #cardTouch li .row-footer {
      position: absolute;
      bottom: 0;
  }

}
@media only screen and (max-width: 375px) {
  #cardTouch{
    max-height: 325px;

  }
  nav.cardtouch{
    margin-top: 0px;
  }
  #cardTouch li {
    height: 206px;
    margin: inherit;
  }
  #cardTouch li .row-bottom{
    margin-top: -8px !important;
  }
  
}
@media only screen and (max-width: 320px) {
  #cardTouch{
    max-height: 285px;
    margin: auto;

  }
  #cardTouch li .bottom-right>img,#cardTouch li .bottom-left>img {
      height: 34px;
  }
  nav.cardtouch{
    margin-top: 0px;
  }
  #cardTouch li {
    height: 173px;
    margin: inherit;
  }
  #cardTouch li .row-score h2 {
      font-size: 1.4rem;
  }
  .d-flex.justify-content-between.card-bottom-content p{
    font-size: 16px;
    margin-bottom: 2px !important;
  }
}
@media (min-height: 800px) {
 
  #cardTouch {
    max-height: 390px;
    height: 390px;
  }
}

.card-bottom{
  margin-top: 0.2rem;
}

.point-size{
  font-size: 2rem !important;
}