@font-face {
    font-family: 'DB HeaventRounded';
    src: url('/assets/css/fonts/DBHeaventRounded.eot');
    src: url('/assets/css/fonts/DBHeaventRounded.eot?#iefix') format('embedded-opentype'),
        url('/assets/css/fonts/DBHeaventRounded.woff2') format('woff2'),
        url('/assets/css/fonts/DBHeaventRounded.woff') format('woff'),
        url('/assets/css/fonts/DBHeaventRounded.ttf') format('truetype'),
        url('/assets/css/fonts/DBHeaventRounded.svg#DBHeaventRounded') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DB Adman X';
    src: url('/assets/css/fonts/DBAdmanX.eot');
    src: url('/assets/css/fonts/DBAdmanX.eot?#iefix') format('embedded-opentype'),
        url('/assets/css/fonts/DBAdmanX.woff2') format('woff2'),
        url('/assets/css/fonts/DBAdmanX.woff') format('woff'),
        url('/assets/css/fonts/DBAdmanX.ttf') format('truetype'),
        url('/assets/css/fonts/DBAdmanX.svg#DBAdmanX') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('/assets/css/fonts/DBHeaventRounded-Black.eot');
    src: url('/assets/css/fonts/DBHeaventRounded-Black.eot?#iefix') format('embedded-opentype'),
        url('/assets/css/fonts/DBHeaventRounded-Black.woff2') format('woff2'),
        url('/assets/css/fonts/DBHeaventRounded-Black.woff') format('woff'),
        url('/assets/css/fonts/DBHeaventRounded-Black.ttf') format('truetype'),
        url('/assets/css/fonts/DBHeaventRounded-Black.svg#DBHeaventRounded-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('/assets/css/fonts/DBHeaventRounded-Bold.eot');
    src: url('/assets/css/fonts/DBHeaventRounded-Bold.eot?#iefix') format('embedded-opentype'),
        url('/assets/css/fonts/DBHeaventRounded-Bold.woff2') format('woff2'),
        url('/assets/css/fonts/DBHeaventRounded-Bold.woff') format('woff'),
        url('/assets/css/fonts/DBHeaventRounded-Bold.ttf') format('truetype'),
        url('/assets/css/fonts/DBHeaventRounded-Bold.svg#DBHeaventRounded-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('/assets/css/fonts/DBHeaventRounded_1.eot');
    src: url('/assets/css/fonts/DBHeaventRounded_1.eot?#iefix') format('embedded-opentype'),
        url('/assets/css/fonts/DBHeaventRounded_1.woff2') format('woff2'),
        url('/assets/css/fonts/DBHeaventRounded_1.woff') format('woff'),
        url('/assets/css/fonts/DBHeaventRounded_1.ttf') format('truetype'),
        url('/assets/css/fonts/DBHeaventRounded_1.svg#DBHeaventRounded') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
   background-color:  #F8F8F8;
   font-family: 'DB Adman X';
}


/* MENU */
.container-mobile.mt-footer.pb-footer{
    position:fixed;
    bottom: 0;
    z-index: 999;
}
.footer{
    position: fixed;
    bottom: 0;
    max-width: 450px;
    z-index: 999;
}
.icon-head{
    height: 30px;
    width: 30px;
}
.icon-head img{
    margin-top: 5px;
}

.promotion a{
    font-size: 12px;
    color: #3F3F3F;
}
.head-icon img{
    border: 5px solid #fff;;
    border-radius: 20px;
}
.menu-item-num{
    width: 18px;
    height: 18px;
    background-color: #A73030;
    z-index: 999;
    text-align: center;
    color: #fff;
    font-size: 12px;
    position: absolute;
    margin-left: 3%;
    top: 12%;
}
.menu-item{
    width: 19%;
    height: auto;
    display: inline-block;
    text-align: center;
}
.menu-item .img-bg{
    width: 100%;
    max-height: 38px;
    object-fit: contain;
}
.menu-item .img-border{
    width: 100%;
    left: 0;
    top: 0;
    max-height: 38px;
    position: absolute;
}
.icon {
    width: 24px;
    height: 24px;
    margin-top: 4px;
  }
.menu-item a{
    color: #3F3F3F;
}
.menu{
    top: 0;
    left: 0;
    text-align: center;
}
.menu-item-active{
    top: 0;
    width: 110%;
    padding-top: 110%;
    position: relative;
    margin-top: -150%;
    margin-left: 0%
}
.menu-item-active-ab{
    position: absolute;
    top: 0;
    transform: (-50%,-50%);
    text-align: center;
    width: 100%;
    padding-top: 10%;
}
.menu-item-active-ab img{
    width: 50%;
}

.w-20{
    width: 20%;
}
.footer-bg{
    background-color:#FFF;
}
.footer span{
    font-size: 12px;
    font-family: 'DB HeaventRounded';
    font-weight: 600;
}

.mt-footer{
    margin-top: 20px !important;
}

.pb-footer>.footer>.menu .menu-item{
    /* padding: 10px 0; */
}

.footer.menu-main .menu-item .img-bg-color{
    fill: #FFF;
}

.footer.menu-main .menu-item.active .img-bg-color{
    fill: #F9CE43;
}

.footer.menu-shop .menu-item .img-bg-color{
    fill: transparent;
}

.nav-icon {
    width: 25px;
    margin: 0 auto;
}

.position-relative.nav-icon * {
    stroke: #656565;
}

.menu-block {
    display: block;
}

