@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded.eot');
    src: url('fonts/DBHeaventRounded.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded.woff2') format('woff2'),
        url('fonts/DBHeaventRounded.woff') format('woff'),
        url('fonts/DBHeaventRounded.ttf') format('truetype'),
        url('fonts/DBHeaventRounded.svg#DBHeaventRounded') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DB Adman X';
    src: url('fonts/DBAdmanX.eot');
    src: url('fonts/DBAdmanX.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBAdmanX.woff2') format('woff2'),
        url('fonts/DBAdmanX.woff') format('woff'),
        url('fonts/DBAdmanX.ttf') format('truetype'),
        url('fonts/DBAdmanX.svg#DBAdmanX') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded-Black.eot');
    src: url('fonts/DBHeaventRounded-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded-Black.woff2') format('woff2'),
        url('fonts/DBHeaventRounded-Black.woff') format('woff'),
        url('fonts/DBHeaventRounded-Black.ttf') format('truetype'),
        url('fonts/DBHeaventRounded-Black.svg#DBHeaventRounded-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded-Bold.eot');
    src: url('fonts/DBHeaventRounded-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded-Bold.woff2') format('woff2'),
        url('fonts/DBHeaventRounded-Bold.woff') format('woff'),
        url('fonts/DBHeaventRounded-Bold.ttf') format('truetype'),
        url('fonts/DBHeaventRounded-Bold.svg#DBHeaventRounded-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded_1.eot');
    src: url('fonts/DBHeaventRounded_1.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded_1.woff2') format('woff2'),
        url('fonts/DBHeaventRounded_1.woff') format('woff'),
        url('fonts/DBHeaventRounded_1.ttf') format('truetype'),
        url('fonts/DBHeaventRounded_1.svg#DBHeaventRounded') format('svg');
    font-weight: normal;
    font-style: normal;
}


::-webkit-scrollbar {
    display: none;
}
.h{
    font-family: 'DB Adman X';
}
body{
   background-color:  #F8F8F8;
   font-family: 'DB HeaventRounded';
}
h3{
    font-weight: 600;
}
h4{
    color:#3F3F3F;
}
h5{
    font-weight: 600;
    font-family: 'DB HeaventRounded';
}
a{
    color:#3F3F3F;
}
a:hover {
    color: #3F3F3F;
    text-decoration: none;
}
.text-red{
    color: #D95151 !important;
}
.text-adman{
    font-family: 'DB Adman X' !important;
}
.container-mobile{
    max-width: 450px;
}
.text-grey{
    color: #898278;
}
.text-blue{
    color: #214293;
}
.text-black{
    color: #000;
}
.bg-yellow{
    background-color: #F9CE43 ;
}
.bg-black{
    background-color: #000 ;
}
.bg-grey{
    background-color: #D8D8D8 !important;
}
.bg-head{
    width: 100%;
    max-width: 450px;
    height: 40vh;
    background-color: #F9CE43 ;
    position: absolute;
    top: 0;
}
.shadow{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1) !important;
}
.close {
    opacity: 1 !important;
}
.font-tf{
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
}
.discount-info{
    background-color: #fff;
    text-align: left;
    padding: .5rem;
    margin-top: 2rem;
    border-radius: .3rem;
}
.font-info{
    padding-left: 1rem;
    color: gray;
    font-size: 18px;
    font-weight: bold;
}
.center-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 7%;
}
/* HEAD */

@keyframes transformY {
    0% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(0);
    }
}
.head{
    height: 22vw;
    width: 100%;
    transition: 0.25s ease-in;
    animation: 1s ease-out 0s 1 slideInFromTop;
    z-index: 9999;
}
.head h1{
    font-weight: 800;
}
.head p{
    margin-top: -10px;
    font-weight: 600;
    color:#3F3F3F;
    font-family: 'DB HeaventRounded';
}
.head .icon {
    width: 100%;
    padding-top: 100%;
    background-color: #fff;
    position: relative;
}
.shop-home .icon{
    height: 100%;
    padding-left: 120%;
    background-color: #fff;
    position: relative;
}
.head img ,.shop-home .icon img{
    max-width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 1.6vw;
}
.shop-home .icon img{
    padding: 2vw !important;
}
.icon-back{
    width: 6%;
    position: absolute;
    top:  1.5rem;
    left: 0.5rem;
}

/* BUTTON */
.btn-green{
    background-color: #10A504;
    width: 100%;
    border-radius: .3rem !important;
}
.btn-gray{
    background-color: rgb(208, 208, 208);
    width: 100%;
    border-radius: .3rem !important;
}
.add{
    width: 100%;
    max-width: 450px;
    height: 10vh;
    position: fixed;
    bottom: 100px;
}
.btn-add{
    background-color: #000 ;
    width: 20vw;
    height:20vw;
    position: absolute;
    bottom: 0px;
    right: 10px;
    color: #fff;
    line-height: 50px;
    padding: 5%;
    font-size: 0.8rem;

}
.search{
    border: 0px !important;
    padding-right: 40px;

}
.search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #B1B1B1

}
.icon-search{
    position: absolute;
    bottom: 30%;
    right: 3%;
    width: 6%;
}

/* PRODUCT */
.product h4{
    font-family: 'DB HeaventRounded';
    font-weight: 550;
}
.product-item{
    background-color: #fff;
    border-radius: 1rem;
    position: relative;
    height: 100%;
}
.product-item .flag{
    position: absolute;
    top: 0;
    left: 1rem;
}
.flag-detail {
   position: absolute;
   top: 0;
}
.product-item .flag p{
    line-height: 0;
    color: #fff !important;
    font-size: 0.8rem;
}
.product-item .flag h5{
    color: #fff !important;
    font-family: 'DB Adman X' !important;
}
.product-item .flag img{
    width: 40%;
    height: auto;
}
.product-item p{
    color: #8E99AF;
}
.product-item h4{
    font-weight: 400;
}
.product-item small{
    color: #6E7177;
}

.product-item .product-add{
    height: 3rem;
    width: 3rem;
    background-color: #DA1111;
    position: relative;
}
.product-item .product-add img{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* CARD */
.card{
    height: auto;
    width: 100%;
    transition: max-height 0.15s ease-out;
}
.card-qr-code{
    margin-top: -1px;
    position: relative;
    border-top: none !important;
}
.card-qr-code,.stamp-qr-code{
    height: 15vw;
    width: 30vw;
    border-bottom-left-radius: 15vw;
    border-bottom-right-radius: 15vw;
}
.card-qr-code img,.stamp-qr-code img{
    width: 35%;
}
.card-img{
    border-radius: 15px 15px 15px 15px;
}
.card-detail{
    position: absolute;
    bottom: 0;
    padding: 0.6rem 0;
    width: 100%;
    color: #fff;
}
.card-detail p{
    margin: 0;
    color: #000;
}
.card-detail .card-id{
    color: #DE3429;
}
.card-detail h2{
    line-height: 0.8rem;
}
.card-detail .col-4{
    padding: 0;
}
.bar{
    background-color: #CCC;
    opacity: 20%;
    height: 0.2rem;
    width: 100%;
}
.bar-status{
    background-color: #CD001C;
    height: 0.2rem;
    position: absolute;
    top: 0;
    left: 0;
}
.stamp-qr-code{
    background-image: url(/assets/images/bg-texture.png);
    background-size: 200% auto;
    background-position-x: center;
}
.stamp-bg{
    background-image: url(/assets/images/bg-texture.png);
    background-size: 200% auto;
    background-position-x: center;
}

.stamp-bg h5{
    color: #EFE7E1;
    text-shadow:2px 2px 4px rgba(0, 0, 0, 0.1);
}
.stamp-item{

    width: 12%;
    padding-top: 12%;
    border-style: dashed;
    border-radius: 50%;
    display: inline-block;
    border-color: #000;
    border-width: 1px;
    background-color: #D3BEAB;
    position: relative;
    margin: -2px 2px;
    overflow: hidden;
    /* text-align: center; */
}
.stamp-item-dt{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.stamp-item-dt h2{
    margin: 0;
    color: #fff;
    font-family: 'DB HeaventRounded';
    font-weight: 600;
}
.stamp-item-dt img{
    width: 100%;
    height: auto;
    position: relative;
    left: -2px;
    top: 3px;
}
.stamp-bg p{
    margin-bottom: 0 !important;
    color: #fff;
    font-family: 'DB HeaventRounded';
}
.stamp-bg ul{
    padding-left: 1rem;
    margin-bottom: 0 !important;
    color: #fff;
    font-family: 'DB HeaventRounded';
}
.stamp-bg li{
    line-height: 1rem;
    color: #fff;
    font-family: 'DB HeaventRounded';
}
.rounded {
    border-radius: 1rem!important;
}

.toggle{
    background-color: #D5D5D5;
    padding: 0.1rem;
    color: #8B8B8B !important;
}

.toggle-active{
    background-color: #fff;
    border-radius: 1.5rem;
    color: #333333 !important;
}
.toggle h5 .toggle-active{
    color: #333333 !important;
}
#stamp-click{
    background-color: #fff;
}

.stamp-goal {
    width: 100%;
    text-align: center;
    margin-left: -0.5px;
    margin-top: -3px;
}

.stamp-gift img{
    left: 0px;
    top: -2px;
}

.stamp-point-item{

    width: 12%;
    padding-top: 12%;
    border-style: dashed;
    border-radius: 50%;
    display: inline-block;
    border-color: #fff;
    border-width: 1px;
    background-color: #D3BEAB;
    position: relative;
    margin: -2px 1.8px;
    /* text-align: center; */
}

.stampGoalText {
    font-size: 20px;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
}

.stamp-logo {
    background: #FFF;
}

.stamp-num {
    background: transparent;
}


/* REWARDS */
.rewards h3{
    font-family: 'DB HeaventRounded';
    font-weight: 600;
}
.rewards h5 {
    font-size: 1.1rem;
}
/* .rewards img{
    height: 6rem;
    width: auto;
} */
.reward-item{
    background-color: #fff;
    text-align: center;
    padding-top: 1.5rem;
}
.reward-item img{

    margin-bottom: 0.6rem;
    width: 100px;
    height: 90px;
    object-fit: cover;
}
.reward-point{
    position: absolute;
    /* background-image: url('/assets/images/icon-flag.svg'); */
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 1.2rem 0.4rem;
    top: 0;
    right: 1.6rem;
    color: #fff;

}
.reward-point .text-center{
    margin-top: -0.4rem;
}
.reward-point h4{
    line-height: 0.5rem;
    color: #fff;
}
.rewards .rounded {
    border-radius: 0.5rem !important;
}

.reward-flag{
    position: absolute;
    right: 0;
    padding: 0 1.4rem 4rem 1.4rem;
}


/* MENU */
.footer{
    position: fixed;
    bottom: -1px;
    max-width: 450px;
    z-index: 999;
}
.icon-head{
    height: 30px;
    width: 30px;
}
.icon-head img{
    margin-top: 5px;
}

.promotion a{
    font-size: 12px;
    color: #3F3F3F;
}
.head-icon img{
    border: 5px solid #fff;;
    border-radius: 20px;
}
.menu-item-num{
    width: 18px;
    height: 18px;
    background-color: #A73030;
    z-index: 99999;
    text-align: center;
    color: #fff;
    font-size: 12px;
    position: absolute;
    margin-left: 3%;
    top: 12%;
}
.menu-item{
    width: 19%;
    height: auto;
    display: inline-block;
    text-align: center;
}
.menu-item img{
    width: 60%;
    max-height: 38px;
    object-fit: contain;
}
.menu-item a{
    color: #fff;
}
.menu{
    top: 0;
    left: 0;
}
.menu-item-active{
    top: 0;
    width: 130%;
    padding-top: 130%;
    position: relative;
    margin-top: -150%;
    margin-left: -12%;
}
.menu-item-active-ab{
    position: absolute;
    top: 0;
    transform: (-50%,-50%);
    text-align: center;
    width: 100%;
    padding-top: 10%;
}
.menu-item-active-ab img{
    width: 60%;
}

.menu-item-active-last{
    margin-left: -30% !important;
}
.menu-item-active-last .menu-item-active-ab img {
    width: 40%;
}
.w-20{
    width: 20%;
}
.footer span{
    font-size: 0.75rem;
    line-height: 0.75rem;
    font-family: 'DB HeaventRounded';
    font-weight: 600;
}
.qr-size{
    height: 150px;
    width: 150px;
    max-width: 100%;
    max-height: 100%;
}
.bar-size{
    height: 126px;
    width: 150px;
    max-width: 100%;
    max-height: 100%;
}

@media only screen and (min-width: 450px) {

    .account .profile-img{
        width: 120%;
        padding-top: 120%;
        margin-top: -60%;
        margin-left: -40%;
    }
    .account .profile-upload{
        height: auto;
        width: 50%;
        position: absolute;
        top: 25%;
        right: 10%;
    }
    .head img{
        padding: 20%;
    }

}
@media only screen and (max-width: 420px) {

    .menu-item-active-last {
        margin-top: -170%;
    }
    .menu-item-active-last {
        margin-left: -25% !important;
    }
    .icon-back img {
        padding: 1.8vw !important;
    }
    .icon-back{
        top:  1.6rem;
        left: 1.1rem;
    }
    .btn-add{
        line-height: inherit;
    }
    .noti-acc{
        margin-left: 1vw;
        margin-top: 1vw;
    }

}

@media only screen and (max-width: 375px) {

    .menu-item-active-last {
        margin-top: -175%;
    }
    .menu-item-active-last {
        margin-left: -30% !important;
    }
    .head{
        height: 23vw;
    }
    .icon-back{
        width: 7%;
        top:  1.7rem;
        left: 1rem;
    }
    .icon-back img {
        padding: 2vw !important;
    }
    .noti-acc{
        margin-left: 0vw;
        margin-top: 0vw;
    }

}

@media only screen and (max-width: 320px) {
    .menu-item-active{
        margin-top: -190%;
    }
    h5 {
        font-size: 1rem;
    }
    .account .icon img{
        padding: 0 !important;

    }
    .head{
        height: 26vw;
    }
    .head img{
        padding: 1vw;
    }
    .icon-back{
        width: 7%;
        top:  1.7rem;
        left: 1rem;
    }
    .pl-3, .px-3 {
        padding-left: 0.5rem!important;
    }
    .pr-3, .px-3 {
        padding-right: 0.5rem!important;
    }
    .add{
        bottom: 80px;
    }
    .footer span {
        font-size: 8.5px;
    }

    .card-detail .card-id  {
        line-height: 0.8rem;
    }
}
@media only screen and (min-height: 890px) {
    .head{
        height: 21vw !important;
    }
}

.mestyle__wrapper {
    margin-top: 28px;
    padding: 20px 15px;
    width: 100%;
    background-color: black;
}

.mestyle__wrapper .status_and_qrcode__box {
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 48px;
    border-radius: 8px;
    background-color: #CD001C;
}

.mestyle__wrapper .status_and_qrcode__box .left {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
}

.mestyle__wrapper .status_and_qrcode__box .left .label {
    margin: 0;
    font-family: 'DB HeaventRounded';
    font-weight: 700;
    font-size: 22px;
    color: white;
}

.mestyle__wrapper .status_and_qrcode__box .left .value {
    margin: 0;
    font-family: 'DB HeaventRounded';
    font-weight: 700;
    font-size: 28px;
    color: white;
}

.mestyle__wrapper .status_and_qrcode__box .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100%;
    background-color: white;
}

.mestyle__wrapper .status_and_qrcode__box .right p {
    margin: 0;
    font-family: 'DB HeaventRounded';
    font-weight: 700;
    font-size: 14px;
}

.mestyle__wrapper .status_and_qrcode__box .right .icon {
    width: 20px;
    height: 20px;
}

.mestyle__wrapper .link__box {
    overflow: hidden;
    display: flex;
    margin-top: 22px;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    background-color: white;
}

.mestyle__wrapper .link__box .left,
.mestyle__wrapper .link__box .center,
.mestyle__wrapper .link__box .right {
    display: flex;
    align-items: center;
}


.mestyle__wrapper .link__box .tab {
    width: 20px;
    height: 100%;
    background-color: #CD001C;
}

.mestyle__wrapper .link__box .icon {
    margin-left: 16px;
    width: 20px;
    height: auto;
}

.mestyle__wrapper .link__box .title {
    margin: 0;
    padding-left: 12px;
    font-family: 'DB HeaventRounded';
    font-weight: 700;
    font-size: 22px;
    color: black;
}

.mestyle__wrapper .link__box .to_link__icon {
    margin-right: 22px;
    width: 8px;
    height: auto;
}

.shop_detail__wrapper {
    padding: 20px 15px;
}

.shop_detail__wrapper h3 {
    margin-bottom: 8px;
    font-family: 'DB HeaventRounded';
    font-weight: 700;
    font-size: 28px;
    color: black;
}

.shop_detail__wrapper .link__box {
    overflow: hidden;
    display: flex;
    margin-top: 22px;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.18);
}

.shop_detail__wrapper .link__box .left,
.shop_detail__wrapper .link__box .center,
.shop_detail__wrapper .link__box .right {
    display: flex;
    align-items: center;
}


.shop_detail__wrapper .link__box .tab {
    width: 20px;
    height: 100%;
    background-color: #CD001C;
}

.shop_detail__wrapper .link__box .icon {
    margin-left: 16px;
    width: 14px;
    height: auto;
}

.shop_detail__wrapper .link__box .title {
    margin: 0;
    padding-left: 12px;
    font-family: 'DB HeaventRounded';
    font-weight: 700;
    font-size: 22px;
    color: black;
}

.shop_detail__wrapper .link__box .to_link__icon {
    margin-right: 22px;
    width: 8px;
    height: auto;
}

.shop_detail__wrapper .detail__box {
    overflow: hidden;
    margin-top: 12px;
    display: flex;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.18);
}

.shop_detail__wrapper .detail__box .tab {
    width: 20px;
    height: auto;
    background-color: #CD001C;
}

.shop_detail__wrapper .detail__box .content__wrapper {
    padding-left: 22px;
    width: calc(100% - 20px);
}

.shop_detail__wrapper .detail__box .content__wrapper .link__box {
    margin-top: 0;
    width: calc(100% - 22px);
    border-radius: 0;
    border-bottom: 1px solid #CECECE;
    box-shadow: none;
}

.shop_detail__wrapper .detail__box .content__wrapper .link__box:last-child {
    border-bottom: 0;
}

.shop_detail__wrapper .detail__box .content__wrapper .link__box .box {
    /* padding-top: 18px;
    padding-bottom: 18px; */
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
}

.shop_detail__wrapper .detail__box .content__wrapper .link__box .box .icon {
    margin-left: 0;
    margin-right: 12px;
    width: 36px;
    height: auto;
}

.shop_detail__wrapper .detail__box .content__wrapper .link__box .box p {
    margin: 0;
    font-family: 'DB HeaventRounded';
    font-weight: 700;
    font-size: 22px;
}

.shop_detail__wrapper .black_theme .tab {
    background-color: black;
}

.shop_detail__wrapper .black_theme .icon {
    width: 20px;
}



.icon-back {
    position: absolute;
    top: 1.8rem;
    left: 1.8rem !important;
    width: 25px;
}

.card-id{

    background: rgba(255,255,255,0.9);
    color: #000000;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-left: 0.6rem;
    padding-right: 0.8rem;
    scroll-padding-top: 1px;
}

.card-expire{
    background: rgba(255,255,255,0.9);
    color: #000000;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-left: 1rem;
    padding-right: 0.5rem;
    scroll-padding-top: 1px;
}


/******************* แก้ไข ไม่สูงออโต้ ****************/
.shop_detail__wrapper .detail__box{
    align-items: stretch;
}

.shop_detail__wrapper .detail__box .content__wrapper .link__box{
    height: fit-content;
}

.shop_detail__wrapper .detail__box .content__wrapper .link__box .box{
    min-height: 50px;
    height: auto;
}

.display-initial {
    display: initial !important;
}

.card-header-account-shop {
    top: 0;
    position: absolute;
}
.top-left {
    background-color: white;
    border-radius: 50%;
}

.name-shop {
    background: #fff;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    width: 170px;
    font-weight: 600;
    text-align: start;
}

.w-8{
    width: 9% !important;
    margin-left: 13px !important;
}

.text-overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.stampreward {
    flex-wrap: nowrap;
    overflow-x: auto;
}

.qrStampDisplay, .stampClickArrowTop,
.qrCardDisplay, .cardClickArrowTop {
    width: 35%;
    height: auto;
}
