@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded.eot');
    src: url('fonts/DBHeaventRounded.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded.woff2') format('woff2'),
        url('fonts/DBHeaventRounded.woff') format('woff'),
        url('fonts/DBHeaventRounded.ttf') format('truetype'),
        url('fonts/DBHeaventRounded.svg#DBHeaventRounded') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DB Adman X';
    src: url('fonts/DBAdmanX.eot');
    src: url('fonts/DBAdmanX.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBAdmanX.woff2') format('woff2'),
        url('fonts/DBAdmanX.woff') format('woff'),
        url('fonts/DBAdmanX.ttf') format('truetype'),
        url('fonts/DBAdmanX.svg#DBAdmanX') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded-Black.eot');
    src: url('fonts/DBHeaventRounded-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded-Black.woff2') format('woff2'),
        url('fonts/DBHeaventRounded-Black.woff') format('woff'),
        url('fonts/DBHeaventRounded-Black.ttf') format('truetype'),
        url('fonts/DBHeaventRounded-Black.svg#DBHeaventRounded-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded-Bold.eot');
    src: url('fonts/DBHeaventRounded-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded-Bold.woff2') format('woff2'),
        url('fonts/DBHeaventRounded-Bold.woff') format('woff'),
        url('fonts/DBHeaventRounded-Bold.ttf') format('truetype'),
        url('fonts/DBHeaventRounded-Bold.svg#DBHeaventRounded-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded_1.eot');
    src: url('fonts/DBHeaventRounded_1.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded_1.woff2') format('woff2'),
        url('fonts/DBHeaventRounded_1.woff') format('woff'),
        url('fonts/DBHeaventRounded_1.ttf') format('truetype'),
        url('fonts/DBHeaventRounded_1.svg#DBHeaventRounded') format('svg');
    font-weight: normal;
    font-style: normal;
}


::-webkit-scrollbar {
    display: none;
}
body{
   background-color:  #F8F8F8;
   font-family: 'DB Adman X';
}
h3{
    font-weight: 600;
}
h4{
    color:#3F3F3F;
}
h5{
    font-weight: 600;
    color:#3F3F3F;
    font-family: 'DB HeaventRounded';
}
a{
    color:#3F3F3F;
}
a:hover {
    color: #3F3F3F;
    text-decoration: none;
}
.text-red{
    color: #D95151 !important;
}
.text-adman{
    font-family: 'DB Adman X' !important;
}
.container-mobile{
    max-width: 450px;
}
.text-grey{
    color: #898278;
}
.text-blue{
    color: #214293;
}
.bg-yellow{
    background-color: #F9CE43 ;
}
.bg-black{
    background-color: #000 ;
}
.bg-grey{
    background-color: #D8D8D8 !important;
}
.bg-head{
    width: 100%;
    max-width: 450px;
    height: 40vh;
    background-color: #F9CE43 ;
    position: absolute;
    top: 0;
}
.shadow{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1) !important;
}
.close {
    opacity: 1 !important;
}
/* HEAD */

@keyframes slideInFromTop {
    0% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(0);
    }
}
.head{
    height: 12vh;
    width: 100%;
    transition: 0.25s ease-in;
    animation: 1s ease-out 0s 1 slideInFromTop;
    z-index: 9999;
}
.head h1{
    font-weight: 800;
}
.head p{
    margin-top: -10px;
    font-weight: 600;
    color:#3F3F3F;
    font-family: 'DB HeaventRounded';
}
.head .icon {
    width: 100%;
    padding-top: 100%;
    background-color: #fff;
    position: relative;
}
.shop-home .icon{
    height: 100%;
    padding-left: 120%;
    background-color: #fff;
    position: relative;
}
.head img ,.shop-home .icon img{
    max-width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 1.6vw;
}
.shop-home .icon img{
    padding: 2vw !important;
}
.icon-back{
    width: 6%;
    position: absolute;
    top:  1.5rem;
    left: 0.5rem;
}

/* BUTTON */
.add{
    width: 100%;
    max-width: 450px;
    height: 10vh;
    position: fixed;
    bottom: 100px;
}
.btn-add{
    background-color: #000 ;
    width: 20vw;
    height:20vw;
    position: absolute;
    bottom: 0px;
    right: 10px;
    color: #fff;
    line-height: 50px;
    padding: 5%;
    font-size: 0.8rem;

}
.search{
    border: 0px !important;
    padding-right: 40px;
    
}
.search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #B1B1B1

}
.icon-search{
    position: absolute;
    bottom: 30%;
    right: 3%;
    width: 6%;
}

/*  */
.list_menu{
    background-color: #000000;
    padding: 30px;
}

.list_detail{
    background-color: #fff;
    padding: 30px;
}

.contact-menu-detail span{
    font-weight: 600;
    font-family: 'DB HeaventRounded';
    font-size: 1.3rem;
}

.contact-menu-detail .menu-icon {
    width: 15%;
    height: 35px;
    padding: 6px;
}

.contact-menu .box {
    width: 5%;
    height: 100%;
    background-color: #da1111;
}

.account-menu-detail{
    padding: 10px;
}
.account-menu-detail .menu-icon{
    width: 15%;
    max-height: 100%;
}

.account-menu-header{
    background-color: #da1111;
    color: #fff;
}

.account .head h5{
    font-weight: 600;
    color:#3F3F3F;
    font-family: 'DB Adman X';
}
.account .detail span{
    font-weight: 600;
    color:#3F3F3F;
    font-family: 'DB HeaventRounded';
}
.account .coin h2{
    font-family: 'DB HeaventRounded';
}
.account .icon{
    width: 70%;
    padding-top: 70%;
    float: right;
    position: relative;
}
.account .icon img{
    height: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}
.account .profile-img{
    width: 100%;
    height: 100%;
}
.account .profile-img{
    width: 160%;
    padding-top: 160%;
    margin-top: -80%;
    margin-left: -60%;
    position: relative;
    overflow: hidden;
}
.account .profile-img img{ 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.account .profile-upload{ 
    height: auto;
    width: 65%;
    position: absolute;
    top: 25%;
    right: 5%;
}
.account-menu{
    height: 50px;
    background-color: #fff;
}
.account-menu .box{
    width: 5%;
    height: 100%;
    background-color: #da1111;
}
.account-menu-detail{
    padding: 10px;
}
.account-menu-detail .menu-icon{
    width: 15%;
    max-height: 100%;
}
.account-menu-detail span{
    font-weight: 600;
    font-family: 'DB HeaventRounded';
    font-size: 1.3rem;
}
/* MENU */
.footer{
    position: fixed;
    bottom: -2px;
    max-width: 450px;
    z-index: 999;
}
.icon-head{
    height: 30px;
    width: 30px;
}
.icon-head img{
    margin-top: 5px;
}

.promotion a{
    font-size: 12px;
    color: #3F3F3F;
}
.head-icon img{
    border: 5px solid #fff;;
    border-radius: 20px;
}
.menu-item-num{
    width: 18px;
    height: 18px;
    background-color: #A73030;
    z-index: 99999;
    text-align: center;
    color: #fff;
    font-size: 12px;
    position: absolute;
    margin-left: 3%;
    top: 12%;
}
.menu-item{
    width: 19%;
    height: auto;
    display: inline-block;
    text-align: center;
}
.menu-item img{
    width: 100%;
    max-height: 38px;
    object-fit: contain;
}
.menu-item a{
    color: #fff;
}
.menu{
    top: 0;
    left: 0;
}
.menu-item-active{
    top: 0;
    width: 120%;
    padding-top: 130%;
    position: relative;
    margin-top: -150%;
    margin-left: -12%;
}
.menu-item-active-ab{
    position: absolute;
    top: 0;
    transform: (-50%,-50%);
    text-align: center;
    width: 100%;
    padding-top: 20%;
}
.menu-item-active-ab img{
    width: 30%; 
}

.w-20{
    width: 20%;
}
.footer span{

    font-size: 12px;
    font-family: 'DB HeaventRounded';
    font-weight: 600;
}

@media only screen and (min-width: 450px) {

    .account .profile-img{
        width: 120%;
        padding-top: 120%;
        margin-top: -60%;
        margin-left: -40%;
    }
    .account .profile-upload{ 
        height: auto;
        width: 50%;
        position: absolute;
        top: 25%;
        right: 10%;
    }
}
@media only screen and (max-width: 420px) {
    .menu-item-active {
        margin-top: -160%;
        margin-left: -18%;
    }
}

@media only screen and (max-width: 375px) {
    .menu-item-active{
        margin-top: -180%;
        margin-left: -24%;
    }

}

@media only screen and (max-width: 320px) {
    .menu-item-active{
        margin-top: -180%;
        margin-left: -24%;
    }

    .account .profile-img{
        width: 180%;
        padding-top: 180%;
        margin-top: -80%;
        margin-left: -100%;
    }
    .account .profile-upload{ 
        height: auto;
        width: 50%;
        position: absolute;
        top: 10%;
        right: 15%;
    }
    h5 {
        font-size: 1rem;
    }
    .account .icon img{
        padding: 0 !important;
    
    }
}
