@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded.eot');
    src: url('fonts/DBHeaventRounded.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded.woff2') format('woff2'),
        url('fonts/DBHeaventRounded.woff') format('woff'),
        url('fonts/DBHeaventRounded.ttf') format('truetype'),
        url('fonts/DBHeaventRounded.svg#DBHeaventRounded') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DB Adman X';
    src: url('fonts/DBAdmanX.eot');
    src: url('fonts/DBAdmanX.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBAdmanX.woff2') format('woff2'),
        url('fonts/DBAdmanX.woff') format('woff'),
        url('fonts/DBAdmanX.ttf') format('truetype'),
        url('fonts/DBAdmanX.svg#DBAdmanX') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded-Black.eot');
    src: url('fonts/DBHeaventRounded-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded-Black.woff2') format('woff2'),
        url('fonts/DBHeaventRounded-Black.woff') format('woff'),
        url('fonts/DBHeaventRounded-Black.ttf') format('truetype'),
        url('fonts/DBHeaventRounded-Black.svg#DBHeaventRounded-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded-Bold.eot');
    src: url('fonts/DBHeaventRounded-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded-Bold.woff2') format('woff2'),
        url('fonts/DBHeaventRounded-Bold.woff') format('woff'),
        url('fonts/DBHeaventRounded-Bold.ttf') format('truetype'),
        url('fonts/DBHeaventRounded-Bold.svg#DBHeaventRounded-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded_1.eot');
    src: url('fonts/DBHeaventRounded_1.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded_1.woff2') format('woff2'),
        url('fonts/DBHeaventRounded_1.woff') format('woff'),
        url('fonts/DBHeaventRounded_1.ttf') format('truetype'),
        url('fonts/DBHeaventRounded_1.svg#DBHeaventRounded') format('svg');
    font-weight: normal;
    font-style: normal;
}



.h{
    font-family: 'DB Adman X';
}
body{
   background-color:  #F8F8F8;
   font-family: 'DB HeaventRounded';
}
h3{
    font-weight: 600;
}
h4{
    color:#3F3F3F;
}
h5{
    font-weight: 600;
    color:#3F3F3F;
    font-family: 'DB HeaventRounded';
}
a{
    color:#3F3F3F;
}
a:hover {
    color: #3F3F3F;
    text-decoration: none;
}
.text-adman{
    font-family: 'DB Adman X' !important;
}
.account .head h5{
    font-weight: 600;
    color:#3F3F3F;
    font-family: 'DB Adman X';
}
.account .detail span{
    font-weight: 600;
    color:#3F3F3F;
    font-family: 'DB HeaventRounded';
}
.account .coin h2{
    font-family: 'DB HeaventRounded';
}
.account .icon{
    width: 70%;
    padding-top: 70%;
    float: right;
    position: relative;
}
.account .icon img{
    height: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}
.account .profile-img{
    width: 100%;
    height: 100%;
}
.account .profile-img{
    width: 160%;
    padding-top: 160%;
    margin-top: -80%;
    margin-left: -60%;
    position: relative;
    overflow: hidden;
}
.account .profile-img img{ 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.account .profile-upload{ 
    height: auto;
    width: 65%;
    position: absolute;
    top: 16px;
    right: 5%;
}
.account-menu{
    height: 50px;
    background-color: #fff;
}
.account-menu .box{
    width: 5%;
    height: 100%;
    background-color: #3F3F3F;
}
.account-menu-detail{
    padding: 10px;
}
.account-menu-detail .menu-icon{
    width: 15%;
    max-height: 100%;
}
.account-menu-detail span{
    font-weight: 600;
    font-family: 'DB HeaventRounded';
    font-size: 1.3rem;
}
.btn{
    font-size: 1.8rem;
    height: 50px;
    border-radius: .5rem;
    font-weight: 600;
    font-family: 'DB HeaventRounded';
    padding: 0;
}
.rounded-lg {
    border-radius: .5rem!important;
}
.rounded-left {
    border-top-left-radius: .5rem!important;
    border-bottom-left-radius: .5rem!important;
}
.rounded-bottom {
    border-bottom-right-radius: .5rem!important;
    border-bottom-left-radius: .5rem!important;
}

.account .detail img{
    width: 10%;
    height: auto;
}
.container-mobile{
    max-width: 450px;
}
.text-grey{
    color: #898278;
}
.text-blue{
    color: #214293;
}
.bg-yellow{
    background-color: #F9CE43;
}
.bg-head{
    width: 100%;
    max-width: 450px;
    height: 40vh;
    background-color: #F9CE43 ;
    position: absolute;
    top: 0;
}
.shadow{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1) !important;
}
.account{
    position: relative;
    z-index: 999;
    top: 0;
    width: 100%;
    margin-top:10vh;
    padding-bottom: 100px !important;
}

/* MENU */
.footer{
    position: fixed;
    bottom: 0;
    max-width: 450px;
    z-index: 9999;
}
.icon-head{
    height: 30px;
    width: 30px;
}
.icon-head img{
    margin-top: 5px;
}

.promotion a{
    font-size: 12px;
    color: #3F3F3F;
}
.head-icon img{
    border: 5px solid #fff;;
    border-radius: 20px;
}
.menu-item-num{
    width: 18px;
    height: 18px;
    background-color: #A73030;
    z-index: 99999;
    text-align: center;
    color: #fff;
    font-size: 12px;
    position: absolute;
    margin-left: 3%;
    top: 12%;
}
.menu-item{
    width: 19%;
    height: auto;
    display: inline-block;
    text-align: center;
}
.menu-item img{
    width: 60%;
    max-height: 38px;
    object-fit: contain;
}
.menu-item a{
    color: #3F3F3F;
}
.menu{
    top: 0;
    left: 0;
}
.menu-item-active{
    top: 0;
    width: 120%;
    padding-top: 130%;
    position: relative;
    margin-top: -150%;
    margin-left: -12%;
}
.menu-item-active-ab{
    position: absolute;
    top: 0;
    transform: (-50%,-50%);
    text-align: center;
    width: 100%;
    padding-top: 20%;
}
.menu-item-active-ab img{
    width: 40%; 
}

.w-20{
    width: 20%;
}
.footer span{
    font-size: 12px;
    font-family: 'DB HeaventRounded';
    font-weight: 600;
}

.align-title{
    padding-top: 9px;
    font-size: 1.75rem;
}

@media only screen and (min-width: 450px) {

    .account .profile-img{
        width: 120%;
        padding-top: 120%;
        margin-top: -60%;
        margin-left: -40%;
    }
    .account .profile-upload{ 
        height: auto;
        width: 50%;
        position: absolute;
        top: 25%;
        right: 10%;
    }
}
@media only screen and (max-width: 420px) {
    .menu-item-active {
        margin-top: -160%;
        margin-left: -18%;
    }
}

@media only screen and (max-width: 375px) {
    .menu-item-active{
        margin-top: -180%;
        margin-left: -24%;
    }

}

@media only screen and (max-width: 320px) {
    .menu-item-active{
        margin-top: -180%;
        margin-left: -24%;
    }

    .account .profile-img{
        width: 180%;
        padding-top: 180%;
        margin-top: -80%;
        margin-left: -100%;
    }
    .account .profile-upload{ 
        height: auto;
        width: 50%;
        position: absolute;
        top: 10%;
        right: 15%;
    }
    h5 {
        font-size: 1rem;
    }
    .account .icon img{
        padding: 0 !important;
    
    }

}


/*********** NEW ************/
.bg-point {
    background: #484848;
}

.text-point {
    font-size: 23px;
    color: #f9ce43;
    font-weight: 600;
    white-space: nowrap;
}

.text-black {
    color: #000;
    font-weight: 600;
    font-size: 20px;
}

.text-value-point {
    color: #fff;
    font-weight: 600;
    font-size: 23px;
}

.rounded-bottom-left {
    border-bottom-left-radius: .5rem!important;
}
.rounded-bottom-right {
    border-bottom-right-radius: .5rem!important;
}

.pt-1{
    padding-top: 0.5rem!important;
}

.shop_detail__wrapper{
   /* padding: 20px 15px;*/
}

.shop_detail__wrapper h3 {
    margin-bottom: 8px;
    font-family: 'DB HeaventRounded';
    font-weight: 700;
    font-size: 28px;
    color: black;
}

.shop_detail__wrapper .link__box {
    overflow: hidden;
    display: flex;
    margin-top: 22px;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.18);
}

.shop_detail__wrapper .link__box .left,
.shop_detail__wrapper .link__box .center,
.shop_detail__wrapper .link__box .right {
    display: flex;
    align-items: center;
}


.shop_detail__wrapper .link__box .tab {
    width: 20px;
    height: 100%;
    background-color: #CD001C;
}

.shop_detail__wrapper .link__box .icon {
    margin-left: 16px;
    width: 14px;
    height: auto;
} 

.shop_detail__wrapper .link__box .title {
    margin: 0;
    padding-left: 12px;
    font-family: 'DB HeaventRounded';
    font-weight: 700;
    font-size: 22px;
    color: black;
}

.shop_detail__wrapper .link__box .to_link__icon {
    margin-right: 22px;
    width: 8px;
    height: auto;
}

.shop_detail__wrapper .detail__box {
    overflow: hidden;
    margin-top: 12px;
    display: flex;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.18);
}

.shop_detail__wrapper .detail__box .tab {
    width: 5%;
    height: auto;
    background-color: #3F3F3F;
}

.shop_detail__wrapper .detail__box .content__wrapper {
    padding-left: 14px;
    width: calc(100% - 20px);
}

.shop_detail__wrapper .detail__box .content__wrapper .link__box {
    margin-top: 0;
    width: calc(100% - 22px);
    border-radius: 0;
    border-bottom: 1px solid #CECECE;
    box-shadow: none;
}

.shop_detail__wrapper .detail__box .content__wrapper .link__box:last-child {
    border-bottom: 0;
}

.shop_detail__wrapper .detail__box .content__wrapper .link__box .box {
    /* padding-top: 18px;
    padding-bottom: 18px; */
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
}

.shop_detail__wrapper .detail__box .content__wrapper .link__box .box .icon {
    margin-left: 0;
    margin-right: 12px;
    width: 36px;
    padding: 0px;
    height: auto;
}


.shop_detail__wrapper .detail__box .content__wrapper .link__box .box p {
    margin: 0;
    font-family: 'DB HeaventRounded';
    font-weight: 700;
    font-size: 22px;
}

.shop_detail__wrapper .black_theme .tab {
    background-color: black;
}

.shop_detail__wrapper .black_theme .icon {
    width: 20px;
}

.head .icon img {
    max-width: 100%;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%);
}
.edit-icon {
    width: 115%;
    padding-top: 115%;
    background-color: #fff;
    position: relative;
    margin-top: 7px;
    margin-left: 8px;
}
.edit-icon img {
    max-width: 100%;
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 2.1vw;
}


/* Comment ออกเพราะทำให้ icon < ของหน้า Setting.js เล็กกว่าอันอื่นๆ
.head .icon {
    width: 100%;
    padding-top: 100%;
    background-color: #fff;
    position: relative;
}
*/

.edit-icon-back {
    width: 6%;
    position: absolute;
    top:  1.5rem;
    left: 0.5rem;
}

/* Comment ออกเพราะทำให้ icon-back ของหน้า Setting.js ทับกับ title
.icon-back {
    position: absolute;
    top: 1.8rem;
    left: 1.8rem !important;
    width: 25px;
}
*/



.btn-blue-rouded {
    font-family: 'DB HeaventRounded';
    display: inline-block;
    font-weight: 600;
    color: #fff;
    text-align: center;
    user-select: none;
    background-color: #003381;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: 20px;
    margin-bottom: 20px;
}

.react-html5-camera-photo-fullscreen>video{
    /*object-fit: cover;*/
}

/******************* แก้ไข ไม่สูงออโต้ ****************/
.shop_detail__wrapper .detail__box{
    align-items: stretch;
}

.shop_detail__wrapper .detail__box .content__wrapper .link__box{
    height: fit-content;
}

.shop_detail__wrapper .detail__box .content__wrapper .link__box .box{
    min-height: 50px;
    height: auto;
}

.display-initial {
    display: initial !important;
}
.m-0 {
    margin: 0!important;
}

@media only screen and (min-width: 450px) {

    .account .profile-img{
        width: 120%;
        padding-top: 120%;
        margin-top: -60%;
        margin-left: -40%;
    }
    .account .profile-upload{ 
        height: auto;
        width: 50%;
        position: absolute;
        top: 25%;
        right: 10%;
    }
    .head img{
        padding: 30%;
    }
    
    
}
@media only screen and (max-width: 420px) {
    
    .menu-item-active {
        margin-top: -160%;
        margin-left: -18%;
    }
    .icon-back img {
        padding: 1.8vw !important;
    }
    .icon-back{
        top:  1.6rem;
        left: 1.1rem;
    }
    .btn-add{
        line-height: 35px;
    }
    .head{
        height: 20vw;
    }
}
@media only screen and (min-width: 400px) {

    .img-1{
        padding-left: 5px;
        padding-right: 5px;
    }

    .img-2{
        padding-left: 5px;
        padding-right: 5px;
        margin-right: -7px;
    }

    .shop_detail__wrapper .detail__box .content__wrapper {
        padding-left: 16px;
        width: calc(100% - 20px);
    }

    
}
@media only screen and (max-width: 375px) {
    .text-black {
        color: #000;
        font-weight: 600;
        font-size: 16px;
    }

    .img-1{
        padding-left: 5px;
        padding-right: 5px;
    }
    .icon-back img {
        padding: 2vw !important;
        padding-left: 5px !important;
    }
    .align-title{
        padding-top: 11px;
    }
    .icon-back{
        width: 7%;
        top:  1.7rem;
        left: 1rem;
    }
    .head{
        height: 23vw;
    }

}


.head-setting {
    position: relative !important;
}

.name-overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-scan{
    right: 0.2rem;
    position: relative;
}
@media only screen and (max-width: 320px) {
    .text-scan{
        right: 0.45rem;
    }
    .head{
        height: 26vw;
    }

}

.icon-edit{
    left:56% !important;
    top:46% !important;
}

@media only screen and (min-height: 890px) {
    .head{
        height: 21vw !important;
    }

}