@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded.eot');
    src: url('fonts/DBHeaventRounded.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded.woff2') format('woff2'),
        url('fonts/DBHeaventRounded.woff') format('woff'),
        url('fonts/DBHeaventRounded.ttf') format('truetype'),
        url('fonts/DBHeaventRounded.svg#DBHeaventRounded') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DB Adman X';
    src: url('fonts/DBAdmanX.eot');
    src: url('fonts/DBAdmanX.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBAdmanX.woff2') format('woff2'),
        url('fonts/DBAdmanX.woff') format('woff'),
        url('fonts/DBAdmanX.ttf') format('truetype'),
        url('fonts/DBAdmanX.svg#DBAdmanX') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded-Black.eot');
    src: url('fonts/DBHeaventRounded-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded-Black.woff2') format('woff2'),
        url('fonts/DBHeaventRounded-Black.woff') format('woff'),
        url('fonts/DBHeaventRounded-Black.ttf') format('truetype'),
        url('fonts/DBHeaventRounded-Black.svg#DBHeaventRounded-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded-Bold.eot');
    src: url('fonts/DBHeaventRounded-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded-Bold.woff2') format('woff2'),
        url('fonts/DBHeaventRounded-Bold.woff') format('woff'),
        url('fonts/DBHeaventRounded-Bold.ttf') format('truetype'),
        url('fonts/DBHeaventRounded-Bold.svg#DBHeaventRounded-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded_1.eot');
    src: url('fonts/DBHeaventRounded_1.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded_1.woff2') format('woff2'),
        url('fonts/DBHeaventRounded_1.woff') format('woff'),
        url('fonts/DBHeaventRounded_1.ttf') format('truetype'),
        url('fonts/DBHeaventRounded_1.svg#DBHeaventRounded') format('svg');
    font-weight: normal;
    font-style: normal;
}




body{
   background-color:  #fff;
   font-family: 'DB HeaventRounded';
}
h3{
    font-weight: 600;
}
h4{
    color:#3F3F3F;
}
h5{
    font-weight: 600;
    color:#3F3F3F;
    font-family: 'DB HeaventRounded';
}
a{
    color:#3F3F3F;
}
a:hover {
    color: #3F3F3F;
    text-decoration: none;
}
.text-adman{
    font-family: 'DB Adman X' !important;
}
.container-mobile{
    max-width: 450px;
}
.text-grey{
    color: #898278;
}
.text-blue{
    color: #214293;
}
.bg-yellow{
    background-color: #F9CE43 ;
}
.bg-grey{
    background-color: #D8D8D8 !important;
}
.bg-head{
    width: 100%;
    max-width: 450px;
    height: 40vh;
    background-color: #F9CE43 ;
    position: absolute;
    top: 0;
}
.shadow{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1) !important;
}
.close {
    opacity: 1 !important;
}
/* HEAD */



@keyframes slideInFromTop {
    0% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(0);
    }
}
.head{
    height: 21vw;
    width: 100%;
    transition: 0.25s ease-in;
    animation: 1s ease-out 0s 1 slideInFromTop;
    z-index: 9999;
    position: initial!important;
}
.head h1{
    font-weight: 800;
    display: inline-block;
}

.head .head-logo {
    width: 40px;
    height: auto !important;
    position: inherit !important;
    display: inline-block !important;
    padding: 0px;
    margin-left: 27px;
    margin-top: 8px;
}
.head p{
    margin-top: -13px;
    font-weight: 600;
    color:#3F3F3F;
    font-family: 'DB HeaventRounded';
}
.head .icon{
    width: 100%;
    padding-top: 100%;
    background-color: #fff;
}
.head img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%);
    padding: 2.5vw;
}

.icon-back{
    width: 6%;
    position: absolute;
    top:  1.5rem;
    left: 0.6rem;
}

.app-card-icon img{
    max-width: 82%;
    max-height: 82%;
    object-fit: contain;
    left: 50%;
    top: 30%;
}

/* PHONE */
@keyframes slidePhone {
    0% {
        top: 10px;
        left: 65px;
        transform: rotate(0);
    }
    100% {
        top: 20px;
        left: -6px;
        transform: rotate(-65deg);
    }
}
.phone{
    margin-top: 16vh;
}
.phone h2{
    font-weight: 400;
    color:#827F7C;
    font-family: 'DB HeaventRounded';
    margin-top: 12vh;
}
.phone-relative{
    height: 20vh !important;
}
.phone .phone1{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.phone .phone2{
    position: absolute;
    /* top: 10px;
    left: 65px; */
    top: 20px;
    left: -6px;
    transform: rotate(-65deg);
    z-index: 9;
    width: 110% !important;
    animation: 0.5s linear 0s 1 slidePhone;
}
.phone .phone3{
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 8;
}

/* BUTTON */
.add{
    /*width: 100%;*/
    max-width: 450px;
    height: 10vh;
    position: fixed;
    bottom: 100px;
    right: 15px;
}
.btn-add{
    background-color: #F9CE43 ;
    width: 8vh;
    height:8vh;
    font-size: 4rem;
    position: absolute;
    bottom: 0px;
    right: 10px;
    color: #fff;
    line-height: 50px;

}
.btn-add img{
    padding: 20%;
    padding-bottom: 11px;
    /*padding-top: 30%;*/
}

/* CARD */
.my-card{
    position: fixed;
    width: 100%;
    max-width: 450px;
    
}

.user-card-container{
    padding-bottom: 200px !important;
}
.btn-card{
    background-color: #fff;
    border-top-left-radius: .50rem!important;
    border-top-right-radius: .50rem!important;
    padding-bottom: 10px;
}
.btn-card h3{
    font-family: 'DB HeaventRounded' !important;
    font-weight: 550;
}
.btn-card h5{
    color: #A9A9A9;
    font-weight: 550;
}

.btn-card h5{
    margin-top: -1.2rem;
}
.not-active{
    background-color:  #F9CE43 ;
}
.not-active h5{
    color:  #fff ;
}
.select-card{
    width: 100%;
    height:80vh;
    background-color: #fff;
    z-index: 999;
    margin-top: -15px;
    padding-bottom: 25vw;
    overflow-y: auto;
    -ms-overflow-style: none;
}
.select-card::-webkit-scrollbar #myModal::-webkit-scrollbar{
    display: none;
  }
#myModal{
overflow: hidden;
}
.select-card hr{
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.1) !important;
}

.search{
    border: 0px !important;
    padding-right: 40px;
    
}
.search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #B1B1B1

}
.icon-search{
    position: absolute;
    bottom: 28%;
    right: 3%;
    width: 6%;
}
.name-card{
    word-wrap: break-word;
}
.card-add{
    width: 100%;
    padding-top: 100%;
    background-color: #F9CE43;
    border-radius: 50%;
    position: relative;
}
.card-add img{
    position: absolute;
    padding: 30%;
    width: 100%;
    top: 0;
}
.w-40{
    width: 40% !important;
}
.w-10{
    width: 10% !important;
}
#myModal h5{
    font-family: 'DB HeaventRounded' !important;
    font-weight: 550;
    color: #7A7A7A;
}
.modal-content {
    border: 0px;
    border-radius: .6rem;
}
.hide-me {
    animation: hideme 0.3s ease-in;
    opacity: 0;
  }
  @keyframes hideme {
    100% {
      height: 0rem;
    }
  }
.card-desc{
    color: #777;
    line-height: 14px;
    font-size:20px;
}
/* Have Card */
.overlap-first{
    margin-bottom: 0;
    transition: margin 200ms ease-in;
}
.overlap{
    margin-top: -50%;
    transition: margin 200ms ease-in;
}
.card-selected{
    /* margin-bottom: 53%; */
    transition: margin 200ms ease-in;
}
.card-selected-last{
    margin-top: 3%;
    transition: margin 200ms ease-in;
}

.btn_entershop{
    position: absolute;
    display: flex;
}

.container-member-card{
 position: relative;
  text-align: center;
  color: white;
  transition: margin 200ms ease-in;
  padding-bottom: 15px;
  
}

.container-member-card.container-selected{
    margin-bottom: 53%;
    transition: margin 200ms ease-in;
}


.container-member-card .bottom-right {
    position: absolute;
    bottom: -10px;
    right: 3px;
}
.container-member-card .bottom-right>img{
    width: 150px;
}


/* MENU */
.footer{
    position: fixed;
    bottom: 0;
    max-width: 450px;
    z-index: 999;
}
.icon-head{
    height: 30px;
    width: 30px;
}
.icon-head img{
    margin-top: 5px;
}

.promotion a{
    font-size: 12px;
    color: #3F3F3F;
}
.head-icon img{
    border: 5px solid #fff;;
    border-radius: 20px;
}
.menu-item-num{
    width: 18px;
    height: 18px;
    background-color: #A73030;
    z-index: 99999;
    text-align: center;
    color: #fff;
    font-size: 12px;
    position: absolute;
    margin-left: 3%;
    top: 12%;
}
.menu-item{
    width: 19%;
    height: auto;
    display: inline-block;
    text-align: center;
}
.menu-item img{
    width: 60%;
    max-height: 38px;
    object-fit: contain;
}
.menu-item a{
    color: #3F3F3F;
}
.menu{
    top: 0;
    left: 0;
}
.menu-item-active{
    top: 0;
    width: 120%;
    padding-top: 130%;
    position: relative;
    margin-top: -150%;
    margin-left: -12%;
}
.menu-item-active-ab{
    position: absolute;
    top: 0;
    transform: (-50%,-50%);
    text-align: center;
    width: 100%;
    padding-top: 26%;
}
.menu-item-active-ab img{
    width: 60%; 
}

.w-20{
    width: 20%;
}
.footer span{
    font-size: 12px;
    font-family: 'DB HeaventRounded';
    font-weight: 600;
}

.p-3-3{
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}
h4{
    font-size: 1.2rem;
    font-weight: 600;
    /* padding-left: 1rem; */
}
.card-qr-code, .stamp-qr-code {
    height: 15vw;
    width: 30vw;
    border-bottom-left-radius: 15vw;
    border-bottom-right-radius: 15vw;
    background-color: #343333;
    text-align: center!important;
    margin-left: auto!important;
    margin-right: auto!important;
    padding: .5rem!important;
}
.w-40{
    width: 40%;
}
.frame{
    height: auto;
    width: 100%;
    transition: max-height 0.15s ease-out;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.align-title{
    padding-top: 9px;
}
.align-title-promo{
    padding-top: 5px;
}
.icon-top-right img{
    object-fit: contain;
    padding: 1vw !important;
    top: 52%;
}
.icon-promo-back{
    width: 26px !important;
    height: 26px !important;
    margin-top: 1px ;
}
.icon-promo-back img{
    max-width: 45px !important;
    height: auto !important;
    object-fit: contain;
    position: absolute;
    left: 85%;
    top: 55%;
    transform: translate(-50%,-50%);
    padding: 0.5vw !important;
}
@media only screen and (min-width: 450px) {

    .account .profile-img{
        width: 120%;
        padding-top: 120%;
        margin-top: -60%;
        margin-left: -40%;
    }
    .account .profile-upload{ 
        height: auto;
        width: 50%;
        position: absolute;
        top: 25%;
        right: 10%;
    }
    .head img{
        padding: 30%;
    }
    .app-card-icon img{
        max-width: 82%;
        max-height: 82%;
        object-fit: contain;
        left: 50%;
        top: 40%;
    }
    
}
@media only screen and (max-width: 420px) {
    
    .menu-item-active {
        margin-top: -160%;
        margin-left: -18%;
    }
    .icon-back img {
        padding: 1.8vw;
    }
    .icon-back{
        top:  1.6rem;
        left: 1.1rem;
    }
    .btn-add{
        line-height: 35px;
    }
    .app-card-icon img{
        max-width: 82%;
        max-height: 82%;
        object-fit: contain;
        left: 50%;
        top: 45%;
    }
    .align-title-promo{
        padding-top: 5px;
    }
    

}
@media only screen and (max-width: 375px) {

    .menu-item-active{
        margin-top: -180%;
        margin-left: -24%;
    }
    .head{
        height: 23vw;
    }
    .icon-back{
        width: 7%;
        top:  1.7rem;
        left: 1rem;
    }
    .icon-back img {
        padding: 2vw;
        padding-left: 5px;
    }
    .app-card-icon img{
        max-width: 82%;
        max-height: 82%;
        object-fit: contain;
        left: 50%;
        top: 30%;
    }
    .align-title {
        padding-top: 12px;
    }
    .align-title-promo{
        padding-top: 7px;
    }
}
@media only screen and (max-width: 320px) {
    .menu-item-active{
        margin-top: -180%;
        margin-left: -24%;
    }
    h5 {
        font-size: 1rem;
    }
    .account .icon img{
        padding: 0 !important;
    
    }
    .head{
        height: 26vw;
    }
    .head img{
        padding: 2.2vw;
    }
    .icon-back{
        width: 7%;
        top:  1.7rem;
        left: 1rem;
    }
    .pl-3, .px-3 {
        padding-left: 0.5rem!important;
    }
    .pr-3, .px-3 {
        padding-right: 0.5rem!important;
    }
    .add{
        bottom: 80px;
    }
    .btn-add{
        width: 9vh;
        height:9vh;
    
    }

}
@media only screen and (min-height: 890px) {
    .head{
        height: 21vw !important;
    }

}

.m-0 {
    margin: 0!important;
}


.react-html5-camera-photo>.display-error, .react-html5-camera-photo>img, .react-html5-camera-photo>video{
    height: unset;
}

label.error{
    color: red;
}

.address-detail .address-list {
    list-style: none;
    padding-left: 0px;
}

.address-detail .address-list li {
    margin-bottom: 7px;
    background-color: #fff;
    {/*border: 1px solid #ddd;*/}
}

.address-detail .address-list li.address-item-detail h4 {
    font-weight: 600;
}

.address-list h4 {
    font-size: 1.1rem;
}

.address-detail .address-list li .text-gray {
    color: #b5b5b5 !important;
}

h5 {
    font-weight: 600;
    color: #3F3F3F;
    font-family: 'DB HeaventRounded';
}

.bg-white{
    background: #fff;
}

.swal2-title {
    /* margin: 0 0 .4em; */
    font-size: 26px;
}

input[type='radio']:after {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: -6px;
    left: 2px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid white;
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem black; 
}

input[type='radio']:checked:after {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: -6px;
    left: 2px;
    position: relative;
    background-color: black;
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem black; 
}

