@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded.eot');
    src: url('fonts/DBHeaventRounded.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded.woff2') format('woff2'),
        url('fonts/DBHeaventRounded.woff') format('woff'),
        url('fonts/DBHeaventRounded.ttf') format('truetype'),
        url('fonts/DBHeaventRounded.svg#DBHeaventRounded') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DB Adman X';
    src: url('fonts/DBAdmanX.eot');
    src: url('fonts/DBAdmanX.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBAdmanX.woff2') format('woff2'),
        url('fonts/DBAdmanX.woff') format('woff'),
        url('fonts/DBAdmanX.ttf') format('truetype'),
        url('fonts/DBAdmanX.svg#DBAdmanX') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded-Black.eot');
    src: url('fonts/DBHeaventRounded-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded-Black.woff2') format('woff2'),
        url('fonts/DBHeaventRounded-Black.woff') format('woff'),
        url('fonts/DBHeaventRounded-Black.ttf') format('truetype'),
        url('fonts/DBHeaventRounded-Black.svg#DBHeaventRounded-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded-Bold.eot');
    src: url('fonts/DBHeaventRounded-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded-Bold.woff2') format('woff2'),
        url('fonts/DBHeaventRounded-Bold.woff') format('woff'),
        url('fonts/DBHeaventRounded-Bold.ttf') format('truetype'),
        url('fonts/DBHeaventRounded-Bold.svg#DBHeaventRounded-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('DBHeaventRounded_1.eot');
    src: url('DBHeaventRounded_1.eot?#iefix') format('embedded-opentype'),
        url('DBHeaventRounded_1.woff2') format('woff2'),
        url('DBHeaventRounded_1.woff') format('woff'),
        url('DBHeaventRounded_1.ttf') format('truetype'),
        url('DBHeaventRounded_1.svg#DBHeaventRounded') format('svg');
    font-weight: normal;
    font-style: normal;
}




body{
   background-color:  #fafafa;
   font-family: 'DB Adman X';
}
.container-mobile{
    max-width: 500px;
}
.text-grey{
    color: #898278;
}
.text-blue{
    color: #214293;
}
/* HEAD */
.header{
    background-color: #F9CE43;
    position: fixed;
    top: 0;
    z-index: 9999999999;
    max-width: 500px;
}
.shadow{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1) !important;
}
/* SCORE */
.score{
    background-color: #fff;
    margin-top: 22%;
}
.score-shop{
    height: 60px;
    background-color: red;
}
.score-shop{
    width: 16% !important;
}
.score-shop-txt{
    width: 20px;
    height: 20px;
    right: 0;
    bottom: 10;

}
.score-item{
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    
}
.score-item img{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    object-fit: cover;

}
.score-item-num{
    width: 18px;
    height: 18px;
    background-color: #F9CE43;
    z-index: 99999;
    text-align: center;
    color: #fff;
    font-size: 12px;
    position: absolute;
    right: 0;
    bottom: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1) !important;
}
.score .row{
    flex-wrap: nowrap;
    overflow-x: auto;
}
::-webkit-scrollbar {
    display: none;
}

/* PROMOTION */
.promotion{
    margin-bottom: 20%;
}
.promotion-box{
    position: relative;
    width: 100%;
    padding-top: 100%;

}
.promotion-box a{
  font-size: 12px;
  color: #3F3F3F;
  background-color: #fff;
}
.promotion-item{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: white;
    border-radius: 0.5rem;
}
.promotion-item img{
    height: 35%;
    max-width: auto;
    text-align: center;
}
.promotion-item.unactive img{
    filter: grayscale(100%);
}
.promotion-item p{
    font-size: 14px;
    font-weight: 600;
}

/* MENU */
.footer{
    position: fixed;
    bottom: 0;
    max-width: 500px;
}
.icon-head{
    height: 30px;
    width: 30px;
}
.promotion a{
    font-size: 12px;
    color: #3F3F3F;
}
.head-icon img{
    border: 5px solid #fff;;
    border-radius: 20px;
}
.menu-item-num{
    width: 18px;
    height: 18px;
    background-color: #A73030;
    z-index: 99999;
    text-align: center;
    color: #fff;
    font-size: 12px;
    position: absolute;
    margin-left: 3%;
    top: 12%;
}
.menu-item{
    width: 19%;
    height: auto;
    display: inline-block;
    text-align: center;
}
.menu-item img{
    width: 60%;
    max-height: 38px;
    object-fit: contain;
}
.menu-item a{
    color: #3F3F3F;
}
.menu{
    top: 0;
    left: 0;
}
.menu-item-active{
    top: 0;
    width: 120%;
    padding-top: 130%;
    position: relative;
    margin-top: -150%;
    margin-left: -12%;
}
.menu-item-active-ab{
    position: absolute;
    top: 0;
    transform: (-50%,-50%);
    text-align: center;
    width: 100%;
    padding-top: 20%;
}
.menu-item-active-ab img{
    width: 40%; 
}

.w-20{
    width: 20%;
}
.footer span{
    font-size: 12px;
    font-family: 'DB HeaventRounded';
    font-weight: 600;
}
@media only screen and (max-width: 375px) {
    .menu-item-active{

        margin-top: -180%;
        margin-left: -16%;
    }
}

.big-alert{
    margin-left: 2vw;
    margin-top: 2vw;
}