@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded.eot');
    src: url('fonts/DBHeaventRounded.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded.woff2') format('woff2'),
        url('fonts/DBHeaventRounded.woff') format('woff'),
        url('fonts/DBHeaventRounded.ttf') format('truetype'),
        url('fonts/DBHeaventRounded.svg#DBHeaventRounded') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DB Adman X';
    src: url('fonts/DBAdmanX.eot');
    src: url('fonts/DBAdmanX.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBAdmanX.woff2') format('woff2'),
        url('fonts/DBAdmanX.woff') format('woff'),
        url('fonts/DBAdmanX.ttf') format('truetype'),
        url('fonts/DBAdmanX.svg#DBAdmanX') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded-Black.eot');
    src: url('fonts/DBHeaventRounded-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded-Black.woff2') format('woff2'),
        url('fonts/DBHeaventRounded-Black.woff') format('woff'),
        url('fonts/DBHeaventRounded-Black.ttf') format('truetype'),
        url('fonts/DBHeaventRounded-Black.svg#DBHeaventRounded-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded-Bold.eot');
    src: url('fonts/DBHeaventRounded-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded-Bold.woff2') format('woff2'),
        url('fonts/DBHeaventRounded-Bold.woff') format('woff'),
        url('fonts/DBHeaventRounded-Bold.ttf') format('truetype'),
        url('fonts/DBHeaventRounded-Bold.svg#DBHeaventRounded-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('DBHeaventRounded_1.eot');
    src: url('DBHeaventRounded_1.eot?#iefix') format('embedded-opentype'),
        url('DBHeaventRounded_1.woff2') format('woff2'),
        url('DBHeaventRounded_1.woff') format('woff'),
        url('DBHeaventRounded_1.ttf') format('truetype'),
        url('DBHeaventRounded_1.svg#DBHeaventRounded') format('svg');
    font-weight: normal;
    font-style: normal;
}




body{
   background-color:  #F8F8F8;
   font-family: 'DB Adman X';
}
.container-mobile{
    max-width: 500px;
}
.text-grey{
    color: #898278;
}
.text-blue{
    color: #214293;
}
/* HEAD */
.header{
    background-color: #F9CE43;
    position: fixed;
    top: 0;
    z-index: 9999999999;
    max-width: 500px;
}
.shadow{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1) !important;
}
/* SCORE */
.score{
    background-color: #fff;
    margin-top: 22%;
}
.score-shop{
    height: 60px;
    background-color: red;
}
.score-shop{
    width: 16% !important;
}
.score-shop-txt{
    width: 20px;
    height: 20px;
    right: 0;
    bottom: 10;

}
.score-item{
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    
}
.score-item img{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    object-fit: cover;

}
.score-item-num{
    width: 18px;
    height: 18px;
    background-color: #F9CE43;
    z-index: 99999;
    text-align: center;
    color: #fff;
    font-size: 12px;
    position: absolute;
    right: 0;
    bottom: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1) !important;
}
.score .row{
    flex-wrap: nowrap;
    overflow-x: auto;
}
::-webkit-scrollbar {
    display: none;
}

/* PROMOTION */
.promotion{
    margin-bottom: 20%;
}
.promotion-box{
    position: relative;
    width: 100%;
    padding-top: 100%;

}
.promotion-box a{
  font-size: 12px;
  color: #3F3F3F;
  background-color: #fff;
}
.promotion-item{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.promotion-item img{
    height: 35%;
    max-width: auto;
    text-align: center;
}
.promotion-item p{
    font-size: 12px;
    font-weight: 600;
}

/* MENU */
.footer{
    position: fixed;
    bottom: 0;
    max-width: 500px;
}
.icon-head{
    height: 30px;
    width: 30px;
}
.promotion a{
    font-size: 12px;
    color: #3F3F3F;
}
.head-icon img{
    border: 5px solid #fff;;
    border-radius: 20px;
}
.menu-item-num{
    width: 18px;
    height: 18px;
    background-color: #A73030;
    z-index: 99999;
    text-align: center;
    color: #fff;
    font-size: 12px;
    position: absolute;
    margin-left: 3%;
    top: 12%;
}
.menu-item{
    width: 19%;
    height: auto;
    display: inline-block;
    text-align: center;
}
.menu-item img{
    width: 60%;
    max-height: 38px;
    object-fit: contain;
}
.menu-item a{
    color: #3F3F3F;
}
.menu{
    top: 0;
    left: 0;
}
.menu-item-active{
    top: 0;
    width: 120%;
    padding-top: 130%;
    position: relative;
    margin-top: -150%;
    margin-left: -12%;
}
.menu-item-active-ab{
    position: absolute;
    top: 0;
    transform: (-50%,-50%);
    text-align: center;
    width: 100%;
    padding-top: 20%;
}
.menu-item-active-ab img{
    width: 40%; 
}

.w-20{
    width: 20%;
}
.footer span{
    font-size: 12px;
    font-family: 'DB HeaventRounded';
    font-weight: 600;
}
@media only screen and (max-width: 375px) {
    .menu-item-active{

        margin-top: -180%;
        margin-left: -16%;
    }
}

/* INPAGE AUTH */
.container-mobile{
    max-width: 500px;
}
.shadow{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1) !important;
}
.center{
        text-align: center;
}
.mt-150{
        margin-top: 150px;
}
.mt-30{
        margin-top: 30px;
}


/* INPAGE INTRO */
.container-mobile{
    max-width: 500px;
    }
    .shadow{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1) !important;
    }
    .center{
        text-align: center;
    }
    /* slide */
    * {box-sizing: border-box}
    .mySlides {display: none}
    img {vertical-align: middle;}

    /* Slideshow container */
    .slideshow-container {
    max-width: 100%;
    width: 80%;
    position: relative;
    margin: auto;
    }

    /* Next & previous buttons */
    .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    }

    .carousel__dot{
        border:0;
        background-color: unset;
        padding: 2px;
    }
    .carousel__dot i{
        color: #bbb;
        background: #bbb;
        border-radius: 50%;
        font-size: 5px;
        
    }
    .carousel__dot.carousel__dot--selected i{
        color: #000;
        background: #000;
    }

    
    

    /* Caption text */
    .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    }

    /* Number text (1/3 etc) */
    .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    }

    .fade:not(.show) {
    opacity: 1 !important;
    }

    /* The dots/bullets/indicators */
    .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
    background-color: #000;
    }

    /* Fading animation */
    .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
    }

    @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
    }
    
    .all-dot{
        text-align:center; 
        margin-top: -10px;
        margin-bottom: 10px;
    }

    .img-slide{
        width: 83%;
        background: #f8f8f8;
        border-radius: 17px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.085), 0 3px 10px 0 rgba(0, 0, 0, 0.025) !important;
    }
    
    .button-start{
        background: #ffce56;
        border-radius: 60px;
        padding: 8px;
    }

    .button-login{
        border: solid 2px #ffce56;
        background-color: rgb(255, 255, 255);
        border-radius: 60px;
        padding: 8px;
    }

    .text-start{
        color: #000;
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 0.8px;
    }
    .mgb-10{
        margin-bottom: 10px;
    }
    .mgb-200{
        margin-bottom: 200px;
    }
    .button-login{
        background: #fff;
        
    }
    .mt-75{
        margin-top: 75px;
    }
    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
        }
    /* slide */


    .w3-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
    .w3-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
    .w3-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
    .w3-animate-left{position:relative;animation:animateleft 0.8s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
    .w3-animate-right{position:relative;animation:animateright 0.8s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
    .w3-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
    .w3-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
    .w3-animate-input{transition:width 0.4s ease-in-out}.w3-animate-input:focus{width:100%!important}


/* loading */
/*change this to resize*/
.c {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 5em;
    width: 5em;
}
.c li {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center center;
    animation: anim 1s ease-in-out infinite;
    will-change: transform, filter;
}
.c li:nth-child(1) {
    width: 1em;
    height: 1em;
}
.c li:nth-child(1):after {
    content: '';
    display: block;
    font-size: 25%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    box-shadow: 1em 0 0 rgba(73, 104, 166, .2), -1em 0 0 rgba(245, 223, 77, .2), 0 1em 0 rgba(255, 111, 97, .2), 0 -1em 0 rgba(107, 82, 165, .2);
}
.c li:nth-child(2) {
    animation-delay: 0.1s;
    width: 2em;
    height: 2em;
}
.c li:nth-child(2):after {
    content: '';
    display: block;
    font-size: 50%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    box-shadow: 1.5em 0 0 rgba(73, 104, 166, .4), -1.5em 0 0 rgba(245, 223, 77, .4), 0 1.5em 0 rgba(255, 111, 97, .4), 0 -1.5em 0 rgba(107, 82, 165, .4);
}
.c li:nth-child(3) {
    animation-delay: 0.15s;
    width: 3em;
    height: 3em;
}
.c li:nth-child(3):after {
    content: '';
    display: block;
    font-size: 75%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    box-shadow: 2em 0 0 rgba(73, 104, 166, .6), -2em 0 0 rgba(245, 223, 77, .6), 0 2em 0 rgba(255, 111, 97, .6), 0 -2em 0 rgba(107, 82, 165, .6);
}
.c li:nth-child(4) {
    animation-delay: 0.2s;
    width: 4em;
    height: 4em;
}
.c li:nth-child(4):after {
    content: '';
    display: block;
    font-size: 100%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    box-shadow: 2.5em 0 0 rgba(73, 104, 166, .8), -2.5em 0 0 rgba(245, 223, 77, .8), 0 2.5em 0 rgba(255, 111, 97, .8), 0 -2.5em 0 rgba(107, 82, 165, .8);
}
.c li:nth-child(5) {
    animation-delay: 0.25s;
    width: 5em;
    height: 5em;
}
.c li:nth-child(5):after {
    content: '';
    display: block;
    font-size: 125%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    box-shadow: 3em 0 0 #4968a6, -3em 0 0 #f5df4d, 0 3em 0 #ff6f61, 0 -3em 0 #6b52a5;
}
@keyframes anim {
    50% {
        filter: blur(2px);
   }
    90%, 100% {
        transform: rotate(1turn);
        filter: blur(0);
   }
}
html {
    font-size: 10px;
    height: 100%;
}
body {
    background: #fcfcfc;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}


