@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded.eot');
    src: url('fonts/DBHeaventRounded.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded.woff2') format('woff2'),
        url('fonts/DBHeaventRounded.woff') format('woff'),
        url('fonts/DBHeaventRounded.ttf') format('truetype'),
        url('fonts/DBHeaventRounded.svg#DBHeaventRounded') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DB Adman X';
    src: url('fonts/DBAdmanX.eot');
    src: url('fonts/DBAdmanX.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBAdmanX.woff2') format('woff2'),
        url('fonts/DBAdmanX.woff') format('woff'),
        url('fonts/DBAdmanX.ttf') format('truetype'),
        url('fonts/DBAdmanX.svg#DBAdmanX') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded-Black.eot');
    src: url('fonts/DBHeaventRounded-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded-Black.woff2') format('woff2'),
        url('fonts/DBHeaventRounded-Black.woff') format('woff'),
        url('fonts/DBHeaventRounded-Black.ttf') format('truetype'),
        url('fonts/DBHeaventRounded-Black.svg#DBHeaventRounded-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded-Bold.eot');
    src: url('fonts/DBHeaventRounded-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded-Bold.woff2') format('woff2'),
        url('fonts/DBHeaventRounded-Bold.woff') format('woff'),
        url('fonts/DBHeaventRounded-Bold.ttf') format('truetype'),
        url('fonts/DBHeaventRounded-Bold.svg#DBHeaventRounded-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded_1.eot');
    src: url('fonts/DBHeaventRounded_1.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded_1.woff2') format('woff2'),
        url('fonts/DBHeaventRounded_1.woff') format('woff'),
        url('fonts/DBHeaventRounded_1.ttf') format('truetype'),
        url('fonts/DBHeaventRounded_1.svg#DBHeaventRounded') format('svg');
    font-weight: normal;
    font-style: normal;
}

.hologo{
    height: 9% !important;
    margin-left: -7vw!important;
    top: 4% !important;
}

.bor{
border-radius: 8px;
}
.h{
    font-family: 'DB Adman X';
}

body{
   background-color:  #F8F8F8;
   font-family: 'DB HeaventRounded';
}
h3{
    font-weight: 600;
    padding-top: 5px;
    font-size: 1.5rem;
}
h4{
    color:#3F3F3F;
}
h5{
    font-weight: 600;
    color:#3F3F3F;
    font-family: 'DB HeaventRounded';
}
a{
    color:#3F3F3F;
}
a:hover {
    color: #3F3F3F;
    text-decoration: none;
}
.text-adman{
    font-family: 'DB Adman X' !important;
}
.container-mobile{
    max-width: 450px;
}
.text-grey{
    color: #898278;
}
.text-blue{
    color: #214293;
}
.bg-yellow{
    background-color: #F9CE43 ;
}
.bg-grey{
    background-color: #D8D8D8 !important;
}
.bg-head{
    width: 100%;
    max-width: 450px;
    height: 40vh;
    background-color: #F9CE43 ;
    position: absolute;
    top: 0;
}
.shadow{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1) !important;
}
.close {
    opacity: 1 !important;
}
/* HEAD */



@keyframes slideInFromTop {
    0% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(0);
    }
}
.head{
    height: 22vw;
    width: 100%;
    transition: 0.25s ease-in;
    animation: 1s ease-out 0s 1 slideInFromTop;
    z-index: 9999;
    position: initial!important;
    max-width: 450px;
}
.head h1{
    font-weight: 800;
    letter-spacing: 2px;
}

.head .head-logo {
    height: 60% ;
    margin-left: 0rem;
    top: 37% ;
    object-fit: contain;
}
.head p{
    margin-top: -3px;
    font-weight: 600;
    color:#3F3F3F;
    font-family: 'DB HeaventRounded';
    font-size: 19px;
}
.head .icon{
    width: 100%;
    padding-top: 100%;
    background-color: #fff;
}
.head img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%);
    padding: 2.5vw;
}

.icon-back{
    width: 6%;
    position: absolute;
    top:  1.5rem;
    left: 0.6rem;
}

.app-card-icon img{
    max-width: 82%;
    max-height: 82%;
    object-fit: contain;
    left: 50%;
    top: 30%;
}

/* PHONE */
@keyframes slidePhone {
    0% {
        top: 10px;
        left: 65px;
        transform: rotate(0);
    }
    100% {
        top: 20px;
        left: -6px;
        transform: rotate(-65deg);
    }
}

.phone{
    padding-top: 30vh;
}
.phone h2{
    font-weight: 400;
    color:#827F7C;
    font-family: 'DB HeaventRounded';
    margin-top: 12vh;
}
.phone-relative{
    height: 20vh !important;
}
.phone .phone1{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.phone .phone2{
    position: absolute;
    /* top: 10px;
    left: 65px; */
    top: 20px;
    left: -6px;
    transform: rotate(-65deg);
    z-index: 9;
    width: 110% !important;
    animation: 0.5s linear 0s 1 slidePhone;
}
.phone .phone3{
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 8;
}

/* BUTTON */
.add{
    /*width: 100%;*/
    max-width: 450px;
    height: 10vh;
    position: fixed;
    bottom: 100px;
    right: 15px;
}
.btn-add{
    background-color: #F9CE43 ;
    width: 8vh;
    height:8vh;
    font-size: 4rem;
    position: absolute;
    bottom: 0px;
    right: 10px;
    color: #fff;
    line-height: 50px;

}
.btn-add img{
    padding: 20%;
    padding-bottom: 11px;
    /*padding-top: 30%;*/
}

/* CARD */
.my-card{
    position: fixed;
    width: 100%;
    max-width: 450px;
    
}

/* img.img-offinecard {overflow:hidden;}
img.img-offinecard.landscape {max-width:200px; width:100%; height:auto;}
img.img-offinecard.portrait {max-height:200px; width:auto; height:100%;} */

.offline.my-card{
    position: initial !important;
    
}

.user-card-container{
    padding-bottom: 200px !important;
}
.btn-card{
    background-color: #fff;
    border-top-left-radius: .50rem!important;
    border-top-right-radius: .50rem!important;
    padding-bottom: 10px;
}
.btn-card h3{
    font-family: 'DB HeaventRounded' !important;
    font-weight: 550;
}
.btn-card h5{
    color: #A9A9A9;
    font-weight: 550;
}

.btn-card h5{
    margin-top: -0.75rem;
}
.not-active{
    background-color:  #F9CE43 ;
}
.not-active h5{
    color:  #fff ;
}
.select-card{
    width: 100%;
    height:80vh;
    background-color: #fff;
    z-index: 999;
    margin-top: -15px;
    padding-bottom: 15vw;
    overflow-y: auto;
    -ms-overflow-style: none;
}
.select-card::-webkit-scrollbar #myModal::-webkit-scrollbar{
    display: none;
  }
#myModal{
overflow: hidden;
}
.select-card hr{
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.1) !important;
}

.search{
    border: 0px !important;
    padding-right: 40px;
    
}
.search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #B1B1B1

}
.icon-search{
    position: absolute;
    bottom: 28%;
    right: 3%;
    width: 6%;
}
.name-card{
    word-wrap: break-word;
}
.card-add{
    width: 100%;
    padding-top: 100%;
    background-color: #F9CE43;
    border-radius: 50%;
    position: relative;
}
.card-add img{
    position: absolute;
    padding: 30%;
    width: 100%;
    top: 0;
}
.w-40{
    width: 40% !important;
}
.w-10{
    width: 10% !important;
}
#myModal h5{
    font-family: 'DB HeaventRounded' !important;
    font-weight: 550;
    color: #7A7A7A;
}
.modal-content {
    border: 0px;
    border-radius: .6rem;
}
.hide-me {
    animation: hideme 0.3s ease-in;
    opacity: 0;
  }
  @keyframes hideme {
    100% {
      height: 0rem;
    }
  }
.card-desc{
    color: #a9a9b1;
    line-height: 14px;
    font-size:20px;
}
/* Have Card */
.overlap-first{
    margin-bottom: 0;
    transition: margin 200ms ease-in;
}
.overlap{
    margin-top: -50%;
    transition: margin 200ms ease-in;
}
.card-selected{
    /* margin-bottom: 53%; */
    transition: margin 200ms ease-in;
}
.card-selected-last{
    margin-top: 3%;
    transition: margin 200ms ease-in;
}

.btn_entershop{
    position: absolute;
    display: flex;
}

.container-member-card{
 position: relative;
  text-align: center;
  color: white;
  transition: margin 200ms ease-in;
  padding-bottom: 15px;
  
}

.container-member-card.container-selected{
    margin-bottom: 53%;
    transition: margin 200ms ease-in;
}

.container-member-card .top-left {
    position: absolute;
    bottom: -20px;
    left: 30px;
    top: -220px;
}

.container-member-card .top-left-nameshop {
    position: relative;
    bottom: -20px;
    /* left: 30px; */
    top: -213px;
}

.container-member-card .bottom-left {
    position: absolute;
    bottom: -20px;
    left: -10px;
}

.container-member-card .bottom-right {
    position: absolute;
    bottom: -20px;
    right: -20px;
}
.container-member-card .bottom-right>img{
    width: 150px;
}

.name-shop{
    background: #fff;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    width: 170px;
    font-weight: 600;
    text-align: start;
}


/* MENU */
.footer{
    position: fixed;
    bottom: 0;
    max-width: 450px;
    z-index: 999;
}
.icon-head{
    height: 30px;
    width: 30px;
}
.icon-head img{
    margin-top: 5px;
}

.promotion a{
    font-size: 12px;
    color: #3F3F3F;
}
.head-icon img{
    border: 5px solid #fff;;
    border-radius: 20px;
}
.menu-item-num{
    width: 18px;
    height: 18px;
    background-color: #A73030;
    z-index: 99999;
    text-align: center;
    color: #fff;
    font-size: 12px;
    position: absolute;
    margin-left: 3%;
    top: 12%;
}
.menu-item{
    width: 19%;
    height: auto;
    display: inline-block;
    text-align: center;
}
.menu-item img{
    width: 60%;
    max-height: 38px;
    object-fit: contain;
}
.menu-item a{
    color: #3F3F3F;
}
.menu{
    top: 0;
    left: 0;
}
.menu-item-active{
    top: 0;
    width: 120%;
    padding-top: 130%;
    position: relative;
    margin-top: -150%;
    margin-left: -12%;
}
.menu-item-active-ab{
    position: absolute;
    top: 0;
    transform: (-50%,-50%);
    text-align: center;
    width: 100%;
    padding-top: 26%;
}
.menu-item-active-ab img{
    width: 60%; 
}

.w-20{
    width: 20%;
}
.footer span{
    font-size: 12px;
    font-family: 'DB HeaventRounded';
    font-weight: 600;
}

.p-3-3{
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}
h4{
    font-size: 1.2rem;
    font-weight: 600;
    padding-left: 1rem;
}
.card-qr-code, .stamp-qr-code {
    height: 15vw;
    width: 30vw;
    border-bottom-left-radius: 15vw;
    border-bottom-right-radius: 15vw;
    background-color: #343333;
    text-align: center!important;
    margin-left: auto!important;
    margin-right: auto!important;
    padding: .5rem!important;
}
.w-40{
    width: 40%;
}
.frame{
    height: auto;
    width: 100%;
    transition: max-height 0.15s ease-out;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.align-title{
    padding-top: 9px;
}
.align-title-promo{
    padding-top: 5px;
    font-size: 1.75rem;
    margin-left: 1.2rem;
}
.icon-top-right img{
    object-fit: contain;
    padding: 1vw !important;
    top: 52%;
}
.icon-promo-back{
    width: 26px !important;
    height: 26px !important;
    margin-top: 1px ;
}
.icon-promo-back img{
    max-width: 45px !important;
    height: auto !important;
    object-fit: contain;
    position: absolute;
    left: 85%;
    top: 81%;
    transform: translate(-50%,-50%);
    padding: 0.5vw !important;
}
@media only screen and (min-width: 450px) {

    .account .profile-img{
        width: 120%;
        padding-top: 120%;
        margin-top: -60%;
        margin-left: -40%;
    }
    .account .profile-upload{ 
        height: auto;
        width: 50%;
        position: absolute;
        top: 25%;
        right: 10%;
    }
    .head img{
        padding: 30%;
    }
    .app-card-icon img{
        max-width: 82%;
        max-height: 82%;
        object-fit: contain;
        left: 50%;
        top: 40%;
    }
    
}
@media only screen and (max-width: 420px) {
    
    .menu-item-active {
        margin-top: -160%;
        margin-left: -18%;
    }
    .icon-back img {
        padding: 1.8vw;
    }
    .icon-back{
        top:  1.6rem;
        left: 1.1rem;
    }
    .btn-add{
        line-height: 35px;
    }
    .app-card-icon img{
        max-width: 82%;
        max-height: 82%;
        object-fit: contain;
        left: 50%;
        top: 45%;
    }
    .align-title-discount{
        padding-top: 12px;
    }
    .align-title-promo{
        padding-top: 5px;
    }
    .head-logo{
        height: 75% !important;
        margin-left: 1rem!important;
        top: 37% !important;    
    }
    .coupon-btn{
        position:relative ;
        bottom:15px ;
    }
    .ml-20{
        margin-left: 20px;
    }
    .ml-2{
        margin-left: 2rem!important;
    }
}
@media only screen and (max-width: 375px) {

    .menu-item-active{
        margin-top: -180%;
        margin-left: -24%;
    }
    .head{
        height: 26vw;
    }
    .icon-back{
        width: 7%;
        top:  1.7rem;
        left: 1rem;
    }
    .icon-back img {
        padding: 2vw;
        padding-left: 5px;
    }
    .app-card-icon img{
        max-width: 82%;
        max-height: 82%;
        object-fit: contain;
        left: 50%;
        top: 30%;
    }
    .align-title {
        padding-top: 13px;
    }
    .align-title-promo{
        padding-top: 15px;
    }
    .head-logo{
        height: 70% !important;
        margin-left: 2rem!important;
        top: 35% !important;  
    }
    .coupon-btn{
        position:relative;
        bottom:25px;
    }
}
@media only screen and (max-width: 320px) {
    .menu-item-active{
        margin-top: -180%;
        margin-left: -24%;
    }
    h5 {
        font-size: 1rem;
    }
    .account .icon img{
        padding: 0 !important;
    
    }
    .head{
        height: 28vw;
    }
    .head img{
        padding: 2.2vw;
    }
    .icon-back{
        width: 7%;
        top:  1.7rem;
        left: 1rem;
    }
    .pl-3, .px-3 {
        padding-left: 0.5rem!important;
    }
    .pr-3, .px-3 {
        padding-right: 0.5rem!important;
    }
    .add{
        bottom: 80px;
    }
    .btn-add{
        width: 9vh;
        height:9vh;
    
    }
    .head-logo{
        height: 70% !important;
        margin-left: 3rem!important;
        top: 37% !important;    
    }

    .coupon-green-btn{
        position:relative !important;
        bottom:15px !important;
    }
    .coupon-btn{
        margin-top:10px;
    }

}
@media only screen and (min-height: 890px) {
    
    .head-logo{
        height: 80% !important;
        margin-left: 1rem !important;
        top: 37% !important;   
    }
    .head{
        height: 23vw !important;
    }
}


@media only screen and (max-width: 360px) {
    .coupon-btn{
        position:relative ;
        bottom:27px ;
    }
    .coupon-green-btn{
        position:relative !important;
        bottom:10px !important;
    }
}


.m-0 {
    margin: 0!important;
}


.react-html5-camera-photo>.display-error, .react-html5-camera-photo>img, .react-html5-camera-photo>video{
    height: unset;
}

label.error{
    color: red;
}

.border-top{
    border-top: solid 2px #d2d2d2;
}

.border-left{
    border-left: solid 2px #dee2e6 !important;
    /* margin-right: 10px; */
}

/********** REWARD ************/
.reward-code-wraper{
    display: none;
}
.reward-code-wraper.offlineactive, .reward-code-wraper.rewardactive{
    display: block;
}

/********** HEADER FIXED ****/
.head{
    position: fixed !important;
    top: 0;
}
.offline{
    position: fixed !important;
}

.my-card{
    top: 22vw;
    padding: 12px 0 10px;
    background-color: #FFF;
    z-index: 999;
    margin-top: -4px !important;
}
.user-card-container{
    /*padding-top: 52vw !important;*/
    background-color: white;
}

.user-card-new {
    /*padding-top: 10vw !important;*/
    margin-top: -15px !important;
    padding-bottom: 0 !important;
}
.user-card-background{
    padding-top: -30px !important;
    padding-bottom: 0 !important;
}

.addFront {
    z-index: 999;
}

.div-mycard {
    height: 80vh;
}

@media only screen and (max-height: 670px) {
    .user-card-container{
        
    }
}
@media only screen and (min-width: 420px) {
    
    .user-card-container{
        /* padding-top: 45vw !important; */
    }
}
/* CARD */
.card{
    height: auto;
    width: 100%;
    transition: max-height 0.15s ease-out;
}
.card-qr-code,.stamp-qr-code{
    height: 15vw;
    width: 30vw;
    border-bottom-left-radius: 15vw;
    border-bottom-right-radius: 15vw;
}
.card-qr-code img,.stamp-qr-code img{
    width: 35%;
}
.card-detail{
    position: absolute;
    bottom: 0;
    padding: 0.6rem;
    width: 100%;
    color: #fff;
}
.card-detail p{
    margin: 0;
    color: #fff;
}
.card-detail .card-id{
    color: #DE3429;
}
.card-detail h2{
    line-height: 0.8rem;
}
.card-detail .col-4{
    padding: 0;
}
.bar{
    background-color: #3f3f3f;
    opacity: 20%;
    height: 0.2rem;
    width: 100%;
}
.bar-status{
    background-color: #3f3f3f;
    height: 0.2rem;
    position: absolute;
    top: 0;
    left: 0;
}
.stamp-qr-code{
    background-image: url(/assets/images/bg-texture.png);
    background-size: 200% auto;
    background-position-x: center;
}
.stamp-bg{
    background-image: url(/assets/images/bg-texture.png);
    background-size: 200% auto;
    background-position-x: center;
}

.stamp-bg h5{
    color: #EFE7E1;
    text-shadow:2px 2px 4px rgba(0, 0, 0, 0.1);
}
.stamp-item{

    width: 12%;
    padding-top: 12%;
    border-style: dashed;
    border-radius: 50%;
    display: inline-block;
    border-color: #fff;
    border-width: 1px;
    background-color: #D3BEAB;
    position: relative;
    margin: -2px 2px;
    /* text-align: center; */
}
.stamp-item-dt{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.stamp-item-dt h2{
    margin: 0;
    color: #fff;
    font-family: 'DB HeaventRounded';
    font-weight: 600;
}
.stamp-item-dt img{
    width: 100%;
    height: auto;
}
.stamp-bg p{
    margin-bottom: 0 !important;
    color: #fff;
    font-family: 'DB HeaventRounded';
}
.stamp-bg ul{
    padding-left: 1rem;
    margin-bottom: 0 !important;
    color: #fff;
    font-family: 'DB HeaventRounded';
}
.stamp-bg li{
    line-height: 1rem;
    color: #fff;
    font-family: 'DB HeaventRounded';
}
.rounded {
    border-radius: 3rem!important;
}

.toggle{
    background-color: #D5D5D5;
    padding: 0.1rem;
    color: #8B8B8B !important;
}

.toggle-active{
    background-color: #fff;
    border-radius: 1.5rem;
    color: #333333 !important;
}
.toggle h5 .toggle-active{
    color: #333333 !important;  
}
#stamp-click{
    background-color: #fff;
}
.bg-no-name{
    background: rgba(255,255,255,0.9);
    color: #000000;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-left: 0.6rem;
    padding-right: 0.8rem;
    scroll-padding-top: 1px;
}
.mg-225{
    margin-bottom: -225px;
}
.mg-275{
    margin-bottom: -275px;
}
.top-bar{
    margin-top: 50px;
}
.mt-48{
    margin-top: -48px;
}
.fw-600{
    font-weight: 600;
}
.mt-point{
    margin-top: -12px;
}
.text-start{
    text-align: start;
}
.h-card{
    height: 231px;
}

.align-text{
    text-align: right;
    margin-right: 1.2rem !important;
}

.coupon-detail p {
    line-height: 16px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-orange{
    background-color: #FE9A02;
    width: 100%;
    border-radius: .5rem !important;
}
.btn-green{
    background-color: #10A504;
    width: 100%;
    border-radius: .5rem !important;
    margin-top: -0.2rem;
}
.btn-orange h5{
    font-weight: bold;
    color: #fff;

}

.font-tf{
    color: #fff;
    font-size: 20px;
    white-space: break-spaces!important;
}
.fs-40{
    font-size: 40px;
}
.f-value{
    font-size:20px;
}
.white{
    color: #fff;
}
@media only screen and (max-width: 420px){
    .my-card{
        top:23vw;
    }
    .user-card-background{
        padding-top: 12vh !important;
    }
}
@media only screen and (max-width: 375px){
    .my-card{
        top:26vw;
    }
    .user-card-background{
        padding-top: 15vh !important;
    }
}
@media only screen and (width: 375px) and (max-height:667px){
    .user-card-background{
        padding-top: 10vh !important;
    }
}
@media only screen and (width: 360px){
    .my-card{
        top:26vw;
    }
    .user-card-background{
        padding-top: 9vh !important;
    }
}
@media only screen and (max-width: 320px){
    .font-tf {
        white-space: nowrap!important;
        overflow: hidden!important;
        text-overflow: ellipsis!important;
        font-size: 20px!important;
    }
    .my-card{
        top:28vw;
    }
    .user-card-background{
        padding-top: 7vh !important;
    }
}


.big-alert{
    margin-left: 2vw;
    margin-top: 2vw;
}


.top-left-logo {
    position: absolute;
    /* padding: 10%; */
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-image .divlogo {
    width: 40%;
    padding: 40%;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

.br-10 {
    border-radius: 10px;
}

@media only screen and (min-width: 411px) {
    .align-title-promo{
        padding-top: 13px;
    }
}