@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded.eot');
    src: url('fonts/DBHeaventRounded.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded.woff2') format('woff2'),
        url('fonts/DBHeaventRounded.woff') format('woff'),
        url('fonts/DBHeaventRounded.ttf') format('truetype'),
        url('fonts/DBHeaventRounded.svg#DBHeaventRounded') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DB Adman X';
    src: url('fonts/DBAdmanX.eot');
    src: url('fonts/DBAdmanX.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBAdmanX.woff2') format('woff2'),
        url('fonts/DBAdmanX.woff') format('woff'),
        url('fonts/DBAdmanX.ttf') format('truetype'),
        url('fonts/DBAdmanX.svg#DBAdmanX') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded-Black.eot');
    src: url('fonts/DBHeaventRounded-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded-Black.woff2') format('woff2'),
        url('fonts/DBHeaventRounded-Black.woff') format('woff'),
        url('fonts/DBHeaventRounded-Black.ttf') format('truetype'),
        url('fonts/DBHeaventRounded-Black.svg#DBHeaventRounded-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded-Bold.eot');
    src: url('fonts/DBHeaventRounded-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded-Bold.woff2') format('woff2'),
        url('fonts/DBHeaventRounded-Bold.woff') format('woff'),
        url('fonts/DBHeaventRounded-Bold.ttf') format('truetype'),
        url('fonts/DBHeaventRounded-Bold.svg#DBHeaventRounded-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded_1.eot');
    src: url('fonts/DBHeaventRounded_1.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded_1.woff2') format('woff2'),
        url('fonts/DBHeaventRounded_1.woff') format('woff'),
        url('fonts/DBHeaventRounded_1.ttf') format('truetype'),
        url('fonts/DBHeaventRounded_1.svg#DBHeaventRounded') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
   background-color:  #F8F8F8;
   font-family: 'DB Adman X';
}
h3{
    font-weight: 600;
}
h4{
    color:#3F3F3F;
}
h5{
    font-weight: 600;
    color:#3F3F3F;
    font-family: 'DB HeaventRounded';
}
a{
    color:#3F3F3F;
}
a:hover {
    color: #3F3F3F;
    text-decoration: none;
}
.text-adman{
    font-family: 'DB Adman X' !important;
}
.container-mobile{
    max-width: 450px;
}
.text-grey{
    color: #898278;
}
.text-blue{
    color: #214293;
}
.bg-yellow{
    background-color: #F9CE43 ;
}
.bg-grey{
    background-color: #D8D8D8 !important;
}
.bg-head{
    width: 100%;
    max-width: 450px;
    height: 40vh;
    background-color: #F9CE43 ;
    position: absolute;
    top: 0;
}
.shadow{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1) !important;
}
.shadow-yellow{
    box-shadow: 1px 0px 4px 0 #F9CE43 , 0 0px 0px 0  #F9CE43  !important
}
.close {
    opacity: 1 !important;
}
::-webkit-scrollbar {
    display: none;
}
/* HEAD */

.head{
    height: auto;
    width: 100%;
    max-width: 450px;
    z-index: 999;
    position: absolute;
    top: 0;
}
.head h1{
    font-weight: 800;
}
.head p{
    margin-top: -10px;
    font-weight: 600;
    color:#3F3F3F;
    font-family: 'DB HeaventRounded';
}
.head .icon{
    width: 100%;
    padding-top: 100%;
    background-color: #fff;
}
.head .icon-r{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 2.5vw;
}
.icon-back{
    width: 6%;
    position: absolute;
    top:  1.5rem;
    left: 0.5rem;
}

.logo-ho{
    width: 30%;
}
.bg-yellow-circle{

}
.text-head{
    margin-bottom: -3%;
}
.text-head h4{
    font-family: 'DB HeaventRounded';
    font-weight: 600;
}
.text-head p{
    font-family: 'DB HeaventRounded';
    font-weight: 200;
    color: #9B9B9B;
}

/* COUPON */
.coupon{
    width: 100%;
    font-family: 'DB HeaventRounded';
    font-weight: bold;
}
.coupon .row {
    flex-wrap: nowrap;
    overflow-x: auto;
}
.coupon-detail{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    
}
.coupon-detail p{
    line-height: 16px;
    font-weight: bold;
    white-space: break-spaces;
    text-overflow: ellipsis;
}
.coupon-detail small{
    line-height: 0px;
    font-weight: bold;
    font-size: 0.7rem !important;
}
.coupon-detail h2{
    font-weight: bold;
}
.coupon-detail-side{
    -ms-transform: rotate(-90deg); /* IE 9 */
    transform: rotate(-90deg);
}
.coupon-detail-side h1{
    font-weight: bold;
    color: #fff;

}
.coupon-detail-side h5{
    margin-top: -10%;
    font-weight: bold;
    color: #fff;
}
.coupon-detail-img{
    width: 40%;
    padding: 40%;
    background-color: #fff;
    position: relative;
    overflow: hidden;

}
.coupon-detail-img img{ 
    position: absolute;
    padding: 10%;
    width: 100%;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
}
.btn-orange{
    background-color: #FE9A02;
    width: 100%;
    border-radius: .5rem !important;
}
.btn-orange h5{
    font-weight: bold;
    color: #fff;

}

/* COUPON MODAL */
.modal-header .close{
    margin-right: -10% !important;
    margin-top: -10% !important;
}
.btn:disabled {
    opacity: 1;
}
.modal p{
    font-size: 10px;
    line-height: 10px;
}
.modal small{
    font-size: 10px !important;
    line-height: 8px !important;
}
.modal h2{
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-top: 0.5rem;
}
.modal h1{
    font-size: 2rem;
    line-height: 2.5rem;
}
.modal h5{
    font-size: 0.6rem;
    line-height: 0.6rem;
}
.modal .col-4{
    padding-right: 5px;
    padding-left: 5px;
}
.modal .mt-3, .my-3 {
    margin-top: 0.5rem !important;
}
.modal .mt-2, .my-2 {
    margin-top: 0.25rem!important;
}
.modal .btn-orange {
    display: none;   
}
.modal .btn-orange {
    display: none;   
}
.modal .col-10 {
    width: 100% !important;
    max-width: 100% !important;
}
.modal-body h4{
    font-family: 'DB HeaventRounded';
    font-weight: 600;
}
.modal-body .btn{
    font-family: 'DB HeaventRounded';
    font-weight: 600;
    color: #fff;
    font-size: 22px;
    border-radius: 0.6rem;
    padding: 0 !important;
}
.modal-content{
    border-radius: 1rem;
}

.modal-header{
    border-top-left-radius: 1rem;
}

/* SLIDE */
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #7A7A7A;
}
.carousel-indicators{
    margin-bottom: -10%;
}

.carousel-inner{
    height: 250px;
    border-radius: .6rem;
    overflow: hidden;
}
.carousel-item img{
    object-fit: cover;
}

/* BANNER */
.banner{
    border-radius: .6rem;
    overflow: hidden;
}

/* NEWS */
.news .row{
    flex-wrap: nowrap;
    overflow-x: auto;
}
.news .col-5{
    padding-right:0 !important;
}
.news-item{
    height: 55vw;
    width: 100%;
    border-radius: .5rem;
    overflow: hidden;
}
.news-item img{
    object-fit: cover;
    width: 100%;
}
.news p{
    font-size: .8rem;
    line-height: 1.3rem;
    text-overflow: ellipsis;
}

/* SCORE */
.score{
    font-family: 'DB HeaventRounded';
    background-color: #fff;
    margin-top: 22%;
}
.score-shop{
    height: 60px;
    background-color: red;
}
.score-shop{
    width: 16% !important;
}
.score-shop-txt{
    width: 20px;
    height: 20px;
    right: 0;
    bottom: 10;

}
.score-item{
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    
}
.score-item img{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    object-fit: cover;

}
.score-item-num{
    width: 18px;
    height: 18px;
    background-color: #F9CE43;
    z-index: 99;
    text-align: center;
    color: #fff;
    font-size: 12px;
    position: absolute;
    right: 0;
    bottom: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1) !important;
}
.score .row{
    flex-wrap: nowrap;
    overflow-x: auto;
}
.score h4,u{
    font-weight: 600;
}


/* MENU */
.footer{
    position: fixed;
    bottom: 0;
    max-width: 450px;
    z-index: 999;
}
.icon-head{
    height: 30px;
    width: 30px;
}
.icon-head img{
    margin-top: 5px;
}

.promotion a{
    font-size: 12px;
    color: #3F3F3F;
}
.head-icon img{
    border: 5px solid #fff;;
    border-radius: 20px;
}
.menu-item-num{
    width: 18px;
    height: 18px;
    background-color: #A73030;
    z-index: 999;
    text-align: center;
    color: #fff;
    font-size: 12px;
    position: absolute;
    margin-left: 3%;
    top: 12%;
}
.menu-item{
    width: 19%;
    height: auto;
    display: inline-block;
    text-align: center;
}
.menu-item img{
    width: 60%;
    max-height: 38px;
    object-fit: contain;
}
.menu-item a{
    color: #3F3F3F;
}
.menu{
    top: 0;
    left: 0;
}
.menu-item-active{
    top: 0;
    width: 110%;
    padding-top: 110%;
    position: relative;
    margin-top: -150%;
    margin-left: 0%
}
.menu-item-active-ab{
    position: absolute;
    top: 0;
    transform: (-50%,-50%);
    text-align: center;
    width: 100%;
    padding-top: 10%;
}
.menu-item-active-ab img{
    width: 50%; 
}

.w-20{
    width: 20%;
}
.footer span{
    font-size: 12px;
    font-family: 'DB HeaventRounded';
    font-weight: 600;
}
.coupon-btn{
    bottom: 0px!important;
}

@media only screen and (min-width: 450px) {

    .head img{
        padding: 30%;
    }
    
}
@media only screen and (max-width: 420px) {
    
    .menu-item-active {
        margin-top: -160%;
    }
    .logo-ho{
        /* margin-top: -3%; */
    }


}

@media only screen and (max-width: 375px) {

    .menu-item-active{
        margin-top: -170%;
    }
    .head{
        height: 26vw;
    }
    .feed{
        margin-top: 26vw;
    }
    .carousel-inner{
        height: 220px;
    }
}

@media only screen and (max-width: 320px) {
    .menu-item-active{
        margin-top: -170%;
    }
    h5 {
        font-size: 1rem;
    }
    .head{
        height: 16vh;
    }
    .head img{
        padding: 2.2vw;
    }
    .logo-ho{
        width: 45%;
    }
    .coupon-detail h2 {
        font-size: 1.5rem;
    }
    .coupon-detail p {
        font-size: 12px;
    }
    .mt-2, .my-2 {
        margin-top: .25rem!important;
    }
    .carousel-inner{
        height: 190px;
    }
    .news p{
        font-size: .8rem;
        line-height: 1.1rem;
        text-overflow: ellipsis;
    }
}

.my-coupon-head{
    height: 26vw;
    width: 100% !important;
    transition: 0.25s ease-in !important;
    z-index: 9999 !important;
}
.icon-back-discount{
    height:120%!important;
}