@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded.eot');
    src: url('fonts/DBHeaventRounded.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded.woff2') format('woff2'),
        url('fonts/DBHeaventRounded.woff') format('woff'),
        url('fonts/DBHeaventRounded.ttf') format('truetype'),
        url('fonts/DBHeaventRounded.svg#DBHeaventRounded') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DB Adman X';
    src: url('fonts/DBAdmanX.eot');
    src: url('fonts/DBAdmanX.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBAdmanX.woff2') format('woff2'),
        url('fonts/DBAdmanX.woff') format('woff'),
        url('fonts/DBAdmanX.ttf') format('truetype'),
        url('fonts/DBAdmanX.svg#DBAdmanX') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded-Black.eot');
    src: url('fonts/DBHeaventRounded-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded-Black.woff2') format('woff2'),
        url('fonts/DBHeaventRounded-Black.woff') format('woff'),
        url('fonts/DBHeaventRounded-Black.ttf') format('truetype'),
        url('fonts/DBHeaventRounded-Black.svg#DBHeaventRounded-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded-Bold.eot');
    src: url('fonts/DBHeaventRounded-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded-Bold.woff2') format('woff2'),
        url('fonts/DBHeaventRounded-Bold.woff') format('woff'),
        url('fonts/DBHeaventRounded-Bold.ttf') format('truetype'),
        url('fonts/DBHeaventRounded-Bold.svg#DBHeaventRounded-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded_1.eot');
    src: url('fonts/DBHeaventRounded_1.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded_1.woff2') format('woff2'),
        url('fonts/DBHeaventRounded_1.woff') format('woff'),
        url('fonts/DBHeaventRounded_1.ttf') format('truetype'),
        url('fonts/DBHeaventRounded_1.svg#DBHeaventRounded') format('svg');
    font-weight: normal;
    font-style: normal;
}

.form{
    font-family: 'DB HeaventRounded';
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #929292;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}



body{
   background-color:  #F8F8F8;
   font-family: 'DB Adman X';
}
.header{
    text-align: center;
    background-color: #fff;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    padding: 20px;
}

.logo{
    width: 50%;
}
.mrb-20{
    margin-bottom: 20px;
}

.rows{
    display: flex;
    margin-bottom: 20px;
}

h3{
    font-weight: 600;
    margin-bottom: 20px; text-align: center;
    margin-top: 20px;
    font-family: 'DB HeaventRounded';
}
h4{
    color:#3F3F3F;
}
h5{
    font-weight: 600;
    color:#3F3F3F;
    font-family: 'DB HeaventRounded';
}
a{
    color:#3F3F3F;
}
a:hover {
    color: #3F3F3F;
    text-decoration: none;
}
.text-adman{
    font-family: 'DB Adman X' !important;
}
.account .head h5{
    font-weight: 600;
    color:#3F3F3F;
    font-family: 'DB Adman X';
}
.account .detail span{
    font-weight: 600;
    color:#3F3F3F;
    font-family: 'DB HeaventRounded';
}
.account .coin h2{
    font-family: 'DB HeaventRounded';
    font-weight: bold;
    letter-spacing: 1px;
}
.account .icon{
    width: 70%;
    padding-top: 70%;
    float: right;
    position: relative;
}
.account .icon img{
    height: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}
.account .profile-img{
    width: 100%;
    height: 100%;
}
.account .profile-img{
    width: 160%;
    padding-top: 160%;
    margin-top: -80%;
    margin-left: -60%;
    position: relative;
    overflow: hidden;
}
.account .profile-img img{
    position: absolute;
    top: 15px;
    left: 16px;
    width: 60%;
}
.account .profile-upload{
    height: auto;
    width: 65%;
    position: absolute;
    top: 25%;
    right: 5%;
}
.account-menu{
    height: 50px;
    background-color: #fff;
}
.account-menu .box{
    width: 5%;
    height: 100%;
    background-color: #3F3F3F;
}
.account-menu-detail{
    padding: 7px;
}
.account-menu-detail .menu-icon{
    width: 15%;
    /* max-height: 100%; */
}
.account-menu-detail span{
    font-weight: 600;
    font-family: 'DB HeaventRounded';
    font-size: 1.3rem;
}
.btnlog{
    font-family: 'DB HeaventRounded';
    display: inline-block;
    font-weight: 600;
    color:#fff;
    text-align: center;
    user-select: none;
    background-color: #003381;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: 20px;
    width: 150px;
    margin-bottom: 20px;
}

.disabled {
    cursor: not-allowed;
    background-color: #ccc !important;
}
.rounded-lg {
    border-radius: .5rem!important;
}
.rounded-left {
    border-top-left-radius: .5rem!important;
    border-bottom-left-radius: .5rem!important;
}
.rounded-bottom {
    border-bottom-right-radius: .5rem!important;
    border-bottom-left-radius: .5rem!important;
}

.account .detail img{
    width: 10%;
    height: auto;
}
.container-mobile{
    max-width: 450px;
}
.text-grey{
    color: #898278;
}
.text-blue{
    color: #214293;
}
.bg-yellow{
    background-color: #F9CE43
}
.bg-head{
    width: 100%;
    max-width: 450px;
    height: 31vh;
    background-color: #fff ;
    position: absolute;
    top: 0;
}
.shadow{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1) !important;
}
.account{
    background-color:#F9CE43  ;
    position: relative;
    z-index: 999;
    /* top: 165px; */
    width: 100%;
    margin-top: 3vh;
    padding-bottom: 100px !important;
    height: 600px;
}

/* MENU */
.footer{
    position: fixed;
    bottom: 0;
    max-width: 450px;
    z-index: 9999;
}
.icon-head{
    height: 30px;
    width: 30px;
}
.icon-head img{
    margin-top: 5px;
}

.promotion a{
    font-size: 12px;
    color: #3F3F3F;
}
.head-icon img{
    border: 5px solid #fff;;
    border-radius: 20px;
}
.menu-item-num{
    width: 18px;
    height: 18px;
    background-color: #A73030;
    z-index: 99999;
    text-align: center;
    color: #fff;
    font-size: 12px;
    position: absolute;
    margin-left: 3%;
    top: 12%;
}
.menu-item{
    width: 19%;
    height: auto;
    display: inline-block;
    text-align: center;
}
.menu-item img{
    width: 60%;
    max-height: 38px;
    object-fit: contain;
}
.menu-item a{
    color: #3F3F3F;
}
.menu{
    top: 0;
    left: 0;
}
.menu-item-active{
    top: 0;
    width: 120%;
    padding-top: 130%;
    position: relative;
    margin-top: -150%;
    margin-left: -12%;
}
.menu-item-active-ab{
    position: absolute;
    top: 0;
    transform: (-50%,-50%);
    text-align: center;
    width: 100%;
    padding-top: 20%;
}
.menu-item-active-ab img{
    width: 40%;
}
.cols{
    margin-left: 5px;
    box-shadow:  1px 1px 1px  #ccc;
    font-family: 'DB HeaventRounded';
    display: block;
    width: 80%;
    height: calc(1.5em + 1.5rem + 2px);
    padding: .375rem .75rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #929292;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.link{
    font-size: larger;
    font-weight: 600;
    margin-left: 5px;
    margin-bottom: 20px;
}

.image{
    vertical-align: sub;
    width: 5%
}
.w-20{
    width: 20%;
}
.footer span{
    font-size: 12px;
    font-family: 'DB HeaventRounded';
    font-weight: 600;
}
.left56{
    left: 56% !important;
}

@media only screen and (min-width: 450px) {

    .account .profile-img{
        width: 120%;
        padding-top: 120%;
        margin-top: -60%;
        margin-left: -40%;
    }
    .account .profile-upload{
        height: auto;
        width: 50%;
        position: absolute;
        top: 25%;
        right: 20%;
    }

}
@media only screen and (max-width: 420px) {
    .menu-item-active {
        margin-top: -160%;
        margin-left: -18%;
    }
}

@media only screen and (max-width: 375px) {
    .menu-item-active{
        margin-top: -180%;
        margin-left: -24%;
    }
    .mr-20{
        margin: 20px;
    }

}

@media only screen and (max-width: 320px) {
    .menu-item-active{
        margin-top: -180%;
        margin-left: -24%;
    }
    .mr-20{
        margin: 20px;
    }
    .account .profile-img{
        width: 180%;
        padding-top: 180%;
        margin-top: -80%;
        margin-left: -100%;
    }
    .account .profile-upload{
        height: auto;
        width: 50%;
        position: absolute;
        top: 10%;
        right: 15%;
    }
    h5 {
        font-size: 1rem;
    }
    .account .icon img{
        padding: 0 !important;

    }
}

/* new */
.bg-head-member{
    width: 100%;
    max-width: 450px;
    height: 12vh;
    background-color: #F9CE43;
    /* position: absolute; */
    top: 0;
}
.row{
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.breadcum-head{
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 3px;
}
.top-45{
    margin-top: 45px;
}
.top-15{
    margin-top: 15px;
}

.detail-about{
    text-indent: 1.5em;
    font-size: 20px;
    margin: 20px;
}
.pl-4{
    padding-left: 4px !important;
}


/** signin page **/
.tab-signin{
    padding: 0;
    border-color: #ced4da;
}
.tab-signin li{
    color: gray;
    font-weight: bold;

}
.tab-signin li.react-tabs__tab.react-tabs__tab--selected{
    border-color: #ced4da;
}