
@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded.eot');
    src: url('fonts/DBHeaventRounded.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded.woff2') format('woff2'),
        url('fonts/DBHeaventRounded.woff') format('woff'),
        url('fonts/DBHeaventRounded.ttf') format('truetype'),
        url('fonts/DBHeaventRounded.svg#DBHeaventRounded') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DB Adman X';
    src: url('fonts/DBAdmanX.eot');
    src: url('fonts/DBAdmanX.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBAdmanX.woff2') format('woff2'),
        url('fonts/DBAdmanX.woff') format('woff'),
        url('fonts/DBAdmanX.ttf') format('truetype'),
        url('fonts/DBAdmanX.svg#DBAdmanX') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded-Black.eot');
    src: url('fonts/DBHeaventRounded-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded-Black.woff2') format('woff2'),
        url('fonts/DBHeaventRounded-Black.woff') format('woff'),
        url('fonts/DBHeaventRounded-Black.ttf') format('truetype'),
        url('fonts/DBHeaventRounded-Black.svg#DBHeaventRounded-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded-Bold.eot');
    src: url('fonts/DBHeaventRounded-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded-Bold.woff2') format('woff2'),
        url('fonts/DBHeaventRounded-Bold.woff') format('woff'),
        url('fonts/DBHeaventRounded-Bold.ttf') format('truetype'),
        url('fonts/DBHeaventRounded-Bold.svg#DBHeaventRounded-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('DBHeaventRounded_1.eot');
    src: url('DBHeaventRounded_1.eot?#iefix') format('embedded-opentype'),
        url('DBHeaventRounded_1.woff2') format('woff2'),
        url('DBHeaventRounded_1.woff') format('woff'),
        url('DBHeaventRounded_1.ttf') format('truetype'),
        url('DBHeaventRounded_1.svg#DBHeaventRounded') format('svg');
    font-weight: normal;
    font-style: normal;
}


u{
    font-family: 'DB HeaventRounded';
}

body{
   background-color:  #F8F8F8;
   font-family: 'DB Adman X';
}
.container-mobile{
    max-width: 500px;
}
.text-grey{
    color: #898278;
}
.text-blue{
    color: #214293;
}
/* HEAD */
.header{
    background-color: #F9CE43;
    position: fixed;
    top: 0;
    z-index: 9999999999;
    max-width: 500px;
}
.shadow{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1) !important;
}
/* SCORE */
.score{
    background-color: #fff;
    margin-top: 22%;
}
.score-shop{
    height: 60px;
    background-color: red;
}
.score-shop{
    width: 16% !important;
}
.score-shop-txt{
    width: 20px;
    height: 20px;
    right: 0;
    bottom: 10;

}
.score-item{
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    
}
.score-item img{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    object-fit: cover;

}
.score-item-num{
    width: 18px;
    height: 18px;
    background-color: #F9CE43;
    z-index: 99999;
    text-align: center;
    color: #fff;
    font-size: 12px;
    position: absolute;
    right: 0;
    bottom: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1) !important;
}
.score .row{
    flex-wrap: nowrap;
    overflow-x: auto;
}
::-webkit-scrollbar {
    display: none;
}

/* PROMOTION */
.promotion{
    margin-bottom: 20%;
}
.promotion-box{
    position: relative;
    width: 100%;
    padding-top: 100%;

}
.promotion-box a{
  font-size: 12px;
  color: #3F3F3F;
  background-color: #fff;
}
.promotion-item{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.promotion-item img{
    height: 35%;
    max-width: auto;
    text-align: center;
}
.promotion-item.unactive img{
    filter: grayscale(100%);
}
.promotion-item p{
    font-size: 12px;
    font-weight: 600;
}

.unactive img {
    filter: grayscale(100%);
}

/* MENU */
.footer{
    position: fixed;
    bottom: 0;
    max-width: 500px;
}
.icon-head{
    height: 30px;
    width: 30px;
}
.promotion a{
    font-size: 12px;
    color: #3F3F3F;
}
.head-icon img{
    border: 5px solid #fff;;
    border-radius: 20px;
}
.menu-item-num{
    width: 18px;
    height: 18px;
    background-color: #A73030;
    z-index: 99999;
    text-align: center;
    color: #fff;
    font-size: 12px;
    position: absolute;
    margin-left: 3%;
    top: 12%;
}
.menu-item{
    width: 19%;
    height: auto;
    display: inline-block;
    text-align: center;
}
.menu-item img{
    width: 60%;
    max-height: 38px;
    object-fit: contain;
}
.menu-item a{
    color: #3F3F3F;
}
.menu{
    top: 0;
    left: 0;
}
.menu-item-active{
    top: 0;
    width: 120%;
    padding-top: 130%;
    position: relative;
    margin-top: -150%;
    margin-left: -12%;
}
.menu-item-active-ab{
    position: absolute;
    top: 0;
    transform: (-50%,-50%);
    text-align: center;
    width: 100%;
    padding-top: 20%;
}
.menu-item-active-ab img{
    width: 40%; 
}

.text-head p {
    font-family: 'DB HeaventRounded';
}

.w-20{
    width: 20%;
}
.footer span{
    font-size: 12px;
    font-family: 'DB HeaventRounded';
    font-weight: 600;
}
@media only screen and (max-width: 375px) {
    .menu-item-active{

        margin-top: -180%;
        margin-left: -16%;
    }
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded.eot');
    src: url('fonts/DBHeaventRounded.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded.woff2') format('woff2'),
        url('fonts/DBHeaventRounded.woff') format('woff'),
        url('fonts/DBHeaventRounded.ttf') format('truetype'),
        url('fonts/DBHeaventRounded.svg#DBHeaventRounded') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DB Adman X';
    src: url('fonts/DBAdmanX.eot');
    src: url('fonts/DBAdmanX.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBAdmanX.woff2') format('woff2'),
        url('fonts/DBAdmanX.woff') format('woff'),
        url('fonts/DBAdmanX.ttf') format('truetype'),
        url('fonts/DBAdmanX.svg#DBAdmanX') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded-Black.eot');
    src: url('fonts/DBHeaventRounded-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded-Black.woff2') format('woff2'),
        url('fonts/DBHeaventRounded-Black.woff') format('woff'),
        url('fonts/DBHeaventRounded-Black.ttf') format('truetype'),
        url('fonts/DBHeaventRounded-Black.svg#DBHeaventRounded-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded-Bold.eot');
    src: url('fonts/DBHeaventRounded-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded-Bold.woff2') format('woff2'),
        url('fonts/DBHeaventRounded-Bold.woff') format('woff'),
        url('fonts/DBHeaventRounded-Bold.ttf') format('truetype'),
        url('fonts/DBHeaventRounded-Bold.svg#DBHeaventRounded-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded_1.eot');
    src: url('fonts/DBHeaventRounded_1.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded_1.woff2') format('woff2'),
        url('fonts/DBHeaventRounded_1.woff') format('woff'),
        url('fonts/DBHeaventRounded_1.ttf') format('truetype'),
        url('fonts/DBHeaventRounded_1.svg#DBHeaventRounded') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
   background-color:  #F8F8F8;
   font-family: 'DB Adman X';
   overflow-x: auto;
}
h3{
    font-weight: 600;
}
h4{
    color:#3F3F3F;
}
h5{
    font-weight: 600;
    color:#3F3F3F;
    font-family: 'DB HeaventRounded';
    font-size: 25px;
    margin-bottom: 0rem;
}
a{
    color:#3F3F3F;
}
a:hover {
    color: #3F3F3F;
    text-decoration: none;
}
.text-adman{
    font-family: 'DB Adman X' !important;
}
.container-mobile{
    max-width: 450px;
}
.text-grey{
    color: #898278;
}
.text-blue{
    color: #214293;
}
.bg-yellow{
    background-color: #F9CE43 ;
}
.bg-grey{
    background-color: #D8D8D8 !important;
}
.bg-head{
    width: 100%;
    max-width: 450px;
    height: 40vh;
    background-color: #F9CE43 ;
    position: absolute;
    top: 0;
}
.shadow{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1) !important;
}
.close {
    opacity: 1 !important;
}
/* HEAD */
.head{
    height: 12vh;
    width: 100%;
    max-width: 450px;
    z-index: 9999;
    position: fixed;
    top: 0;
}
.head h1{
    font-weight: 800;
    letter-spacing: 2px;
}
.head p{
    margin-top: -3px;
    font-weight: 600;
    color:#3F3F3F;
    font-family: 'DB HeaventRounded';
    font-size: 19px;
}
.head .icon{
    width: 100%;
    padding-top: 100%;
    background-color: #fff;
}

.head img{
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    left: 52%;
    top: 52%;
    transform: translate(-50%,-50%);
    padding: 1vw!important;
}

.icon-back{
    width: 6%;
    position: absolute;
    top:  1.5rem;
    left: 0.5rem;
}
.more{
    font-weight: 600;
    letter-spacing: 1px;
}

/* FEED */
.profile{
   width: 16%;
    height: auto;
}
.profile-ratio{
    width: 100%;
    padding-top: 100%; 
    position: relative;
    overflow: hidden;
    background-color: #F9CE43 ;
}
.profile-ratio img{ 
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.feed-head h4{
    line-height: 50%;
    margin-top: 3% !important;
}
.feed-head small{
    font-size: 60%;
    margin-top: -10%;
}
.feed-footer .icon{
    width: 100%;
    padding-top: 100%;
    background-color: #F5F5F5;
    position: relative;
}
.feed-footer .icon img{
    position: absolute;
    top: 0;
    left: 0;
    height: 96%;
    padding: 20%;
    padding-top: 24%;
}   
.icon-comment{
    width: 10%;
    height: auto;
}
.feed{
    margin-top: 22vw;
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}
.feed h4{
    font-weight: 600;
}
.feed p{
    font-family: 'DB HeaventRounded';
}
/* MENU */
.footer{
    position: fixed;
    bottom: 0;
    max-width: 450px;
    z-index: 999;
}
.icon-head{
    height: 30px;
    width: 30px;
}
.icon-head img{
    margin-top: 5px;
}

.promotion a{
    font-size: 12px;
    color: #3F3F3F;
}
.head-icon img{
    border: 5px solid #fff;;
    border-radius: 20px;
    
}
.img-logoho{
    /*
    max-width: 100% !important;
    height: 67% !important;
    object-fit: cover !important;
    position: absolute !important;
    left: 52% !important;
    top: 37% !important;
    transform: translate(-50%,-50%) !important;
    padding: 3.5vw !important;
    */
    height: 60% !important;
    margin-left: 5.7rem;
    top: 37% !important;
}
.menu-item-num{
    width: 18px;
    height: 18px;
    background-color: #A73030;
    z-index: 99999;
    text-align: center;
    color: #fff;
    font-size: 12px;
    position: absolute;
    margin-left: 3%;
    top: 12%;
}
.menu-item{
    width: 18%;
    height: auto;
    display: inline-block;
    text-align: center;
}
.menu-item img{
    width: 60%;
    max-height: 38px;
    object-fit: contain;
}
.menu-item a{
    color: #3F3F3F;
}
.menu{
    top: 0;
    left: 0;
}
.menu-item-active{
    top: 0;
    width: 120%;
    padding-top: 130%;
    position: relative;
    margin-top: -150%;
    margin-left: -12%;
}
.menu-item-active-ab{
    position: absolute;
    top: 0;
    transform: (-50%,-50%);
    text-align: center;
    width: 100%;
    padding-top: 26%;
}
.menu-item-active-ab img{
    width: 50%; 
}

.w-20{
    width: 20%;
}
.footer span{
    font-size: 12px;
    font-family: 'DB HeaventRounded';
    font-weight: 600;
}
.coupon-pic{
    width: 100px;
    height: 100px;
    max-width:70%;
    max-height:70%;
    object-fit: contain;
}
.align-text{
    text-align: right;
    margin-right: 1.2rem !important;
}
@media only screen and (min-width: 450px) {

    .head img{
        padding: 20%;
    }
    
}
@media only screen and (max-width: 420px) {
    
    .menu-item-active {
        margin-top: -160%;
        margin-left: -18%;
    }
}

.ml-20{
    margin-left: 20px;
}
@media only screen and (max-width: 375px) {

    .menu-item-active{
        margin-top: -180%;
        margin-left: -24%;
    }
    .head{
        height: 26vw;
    }
    .feed{
        margin-top: 26vw;
    }
    .coupon-btn{
        position:relative !important;
        bottom:5px !important;
    }
    .coupon-green-btn{
        position:relative !important;
        bottom:5px !important;
    }
}
@media only screen and (max-width: 360px) {
    .coupon-btn{
        position:relative !important;
        bottom:10px !important;
    }
    .coupon-green-btn{
        position:relative !important;
        bottom:10px !important;
    }
    .img-logoho{
        height: 55% !important;
        margin-left: 5.3rem;
        top: 33% !important;
    }
    .head{
        height: 29vw;
    }
    .coupon-btn{
        padding: .375rem .0rem;
    }
}
@media only screen and (width: 360px) and (height:780px) {
    .head{
        height: 26vw;
    }
}
.mt-7{
    margin-top: -10px;
}
@media only screen and (max-width: 320px) {
    .menu-item-active{
        margin-top: -180%;
        margin-left: -24%;
    }
    h5 {
        font-size: 1rem;
    }
    .head{
        height: 16vh;
    }
    .head img{
        padding: 2.2vw;
    }
    .feed{
        margin-top: 30vw;
    }
    .coupon-pic{
        width: 120px;
        height: 120px;
        max-width:60%;
        max-height:60%;
        object-fit: contain;
    }
    .coupon-green-btn{
        position:relative !important;
        bottom:15px !important;
    }
    .coupon-btn{
        margin-top:10px;
    }
    .img-logoho{
        height: 60% !important;
        margin-left: 6rem;
        top: 37% !important;
    }
    .coupon-btn{
        padding: .375rem .75rem;
        bottom: 15px !important;
    }
}
@media only screen and (min-width: 414px) {
    .img-logoho{
        height: 70% !important;
        margin-left: 4.5rem;
        top: 37% !important;
    }
}
@media only screen and (min-width: 414px) and (min-height:896px) {
    .img-logoho{
        height: 60% !important;
        margin-left: 4.6rem;
        top: 37% !important;
    }
}
@media only screen and (width: 411px) and (height: 731px) {
    .img-logoho{
        height: 70% !important;
        margin-left: 4.5rem;
        top: 37% !important;
    }
}

/* HEAD */
.header{
    background-color: #F9CE43;
    position: fixed;
    top: 0;
    z-index: 9999999999;
    max-width: 500px;
}
.shadow{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1) !important;
}
/* SCORE */
.score{
    background-color: #fff;
    margin-top: 30%;
}
.score-shop{
    height: 60px;
    background-color: red;
}
.score-shop{
    width: 16% !important;
}
.score-shop-txt{
    width: 20px;
    height: 20px;
    right: 0;
    bottom: 10;

}
.score-item{
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    
}
.score-item img{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    object-fit: cover;

}
.score-item-num{
    width: 18px;
    height: 18px;
    background-color: #F9CE43;
    z-index: 99999;
    text-align: center;
    color: #fff;
    font-size: 12px;
    position: absolute;
    right: 0;
    bottom: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1) !important;
}
.score .row{
    flex-wrap: nowrap;
    overflow-x: auto;
}
::-webkit-scrollbar {
    display: none;
}

/* PROMOTION */
.promotion{
    margin-bottom: 20%;
}
.promotion-box{
    position: relative;
    width: 100%;
    padding-top: 100%;

}
.promotion-box a{
  font-size: 12px;
  color: #3F3F3F;
  background-color: #fff;
}
.promotion-item{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.promotion-item img{
    height: 35%;
    max-width: auto;
    text-align: center;
}
.promotion-item p{
    font-size: 14px;
    font-weight: 600;
}

/* MENU */
.footer{
    position: fixed;
    bottom: 0;
    max-width: 500px;
}
.icon-head{
    height: 30px;
    width: 30px;
}
.promotion a{
    font-size: 12px;
    color: #3F3F3F;
}
.head-icon img{
    border: 5px solid #fff;;
    border-radius: 20px;
}
.menu-item-num{
    width: 18px;
    height: 18px;
    background-color: #A73030;
    z-index: 99999;
    text-align: center;
    color: #fff;
    font-size: 12px;
    position: absolute;
    margin-left: 3%;
    top: 12%;
}
.menu-item{
    width: 19%;
    height: auto;
    display: inline-block;
    text-align: center;
}
.menu-item img{
    width: 60%;
    max-height: 38px;
    object-fit: contain;
}
.menu-item a{
    color: #3F3F3F;
}
.menu{
    top: 0;
    left: 0;
}
.menu-item-active{
    top: 0;
    width: 120%;
    padding-top: 130%;
    position: relative;
    margin-top: -150%;
    margin-left: -12%;
}
.menu-item-active-ab{
    position: absolute;
    top: 0;
    transform: (-50%,-50%);
    text-align: center;
    width: 100%;
    padding-top: 20%;
}
.menu-item-active-ab img{
    width: 40%; 
}

.w-20{
    width: 20%;
}
.footer span{
    font-size: 12px;
    font-family: 'DB HeaventRounded';
    font-weight: 600;
}
@media only screen and (max-width: 375px) {
    .menu-item-active{

        margin-top: -180%;
        margin-left: -16%;
    }
}

@media only screen and (max-width: 375px) {
    .icon-back {
        width: 7%;
        top: 1.7rem;
        left: 1rem;
    }
}
@media only screen and (max-width: 375px) {
    .icon-back img {
        padding: 2vw !important;
    }
}
/* PROMOTION */
.promotion{
    margin-bottom: 20%;
}
.promotion-box{
    position: relative;
    width: 100%;
    padding-top: 100%;

}
.promotion-box a{
  font-size: 12px;
  color: #3F3F3F;
  background-color: #fff;
}
.promotion-item{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.promotion-item img{
    height: 35%;
    max-width: auto;
    text-align: center;
}

/* Search */
.custom-modal {
    z-index: 99999!important;
}

/* COUPON */
.coupon{
    width: 100%;
    font-family: 'DB HeaventRounded';
    font-weight: bold;
}
.coupon .row {
    flex-wrap: nowrap;
    overflow-x: auto;
}
.coupon-detail{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    
}
.coupon-detail p{
    line-height: 16px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.coupon-detail small{
    line-height: 0px;
    font-weight: bold;
    font-size: 0.7rem !important;
}
.coupon-detail h2{
    font-weight: bold;
}
.coupon-detail-side{
    -ms-transform: rotate(-90deg); /* IE 9 */
    transform: rotate(-90deg);
}
.coupon-detail-side h1{
    font-weight: bold;
    color: #fff;

}
.coupon-detail-side h5{
    margin-top: -10%;
    font-weight: bold;
    color: #fff;
}
.coupon-detail-img{
    width: 40%;
    padding: 40%;
    background-color: #fff;
    position: relative;
    overflow: hidden;

}
.coupon-detail-img img{ 
    position: absolute;
    padding: 10%;
    width: 100%;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
}
.btn-orange{
    background-color: #FE9A02;
    width: 100%;
    border-radius: .5rem !important;
}
.btn-green{
    background-color: #10A504;
    width: 100%;
    border-radius: .5rem !important;
    margin-top: -0.2rem;
}
.btn-orange h5{
    font-weight: bold;
    color: #fff;

}


/* COUPON MODAL */
.modal-header .close{
    margin-right: -10% !important;
    margin-top: -10% !important;
}
.btn:disabled {
    opacity: 1;
}
.modal p{
    font-size: 10px;
    line-height: 10px;
}
.modal small{
    font-size: 10px !important;
    line-height: 8px !important;
}
.modal h2{
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-top: 0.5rem;
}
.modal h1{
    font-size: 2rem;
    line-height: 2.5rem;
}
.modal h5{
    font-size: 0.6rem;
    line-height: 0.6rem;
}
.modal .col-4{
    padding-right: 5px;
    padding-left: 5px;
}
.modal .mt-3, .my-3 {
    margin-top: 0.5rem !important;
}
.modal .mt-2, .my-2 {
    margin-top: 0.25rem!important;
}
.modal .btn-orange {
    display: none;   
}
.modal .btn-orange {
    display: none;   
}
.modal .col-10 {
    width: 100% !important;
    max-width: 100% !important;
}
.modal-body h4{
    font-family: 'DB HeaventRounded';
    font-weight: 600;
}
.modal-body .btn{
    font-family: 'DB HeaventRounded';
    font-weight: 600;
    color: #fff;
    font-size: 22px;
    border-radius: 0.6rem;
    padding: 0 !important;
}
.modal-body .btn-primary {
    padding: .375rem .75rem !important;
    font-size: 1rem;
}
.modal-content{
    border-radius: 1rem;
}

.modal-header{
    border-top-left-radius: 1rem;
}
.font-tf{
    color: #fff;
    font-size: 20px;
    white-space: break-spaces!important;
}
.fs-40{
    font-size: 40px;
}
.f-value{
    font-size:20px;
}
.white{
    color: #fff;
}
.coupon-text{
    font-size: 1.9rem;
}
.store-name{
    white-space: normal !important;
}
@media only screen and (max-width: 320px) {
    .font-tf{
        white-space: nowrap!important;
        overflow: hidden!important;
        text-overflow: ellipsis!important;
    }
    .coupon-text{
        font-size: 1.6rem;
    }
    .store-name{
        white-space: nowrap !important;
    }
}
@media only screen and (min-height: 800px) {
    .coupon-pic{
        width:100px;
        height: 100px;
        max-width:60%;
        max-height:60%;
        object-fit: contain;
    }
}

.btn-secondary{
    color: #fff;
    background-color: #d0d0d0;
    border-color: #d0d0d0;
}

.align-coupon{
    margin-top: 0.8rem;
}

.big-alert{
    margin-left: 2vw;
    margin-top: 2vw;
}

