/****************** register store page *************/
body{
    background-color: #fff;
}
/**** ดำ #2E2C18 ***/
.btn-yellow{
    background-color: #F5DF4D;
    border-color: #d8c441;
    
}
.register-header{
    background-color: #F5DF4D;
    text-align: center;
    padding: 15px;
    padding-bottom: 30px;
}

.register-header img.logo{
    min-width: 45%;
    max-width: 200px;
}

.register-container{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    margin-top: -30px;
    z-index: 999;
    position: relative;
    border:1px solid #ccc;
    border-radius: 5px;
}

.btn-register, .button-submit{
    background-color: #F5DF4D !important;
}

input[type=text],
input[type=password],
select {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group{
    margin-bottom: 0;
}


.digit-group input{
        width: 43px;
		height: 50px;
	
		border: none;
        border-bottom: 1px solid #000;
        border-radius: 0;
		line-height: 50px;
		text-align: center;
		font-size: 24px;
		font-weight: 200;
		color: #000;
		margin: 0 2px;
      
	
}

.error{
    color: red;
}
