@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded.eot');
    src: url('fonts/DBHeaventRounded.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded.woff2') format('woff2'),
        url('fonts/DBHeaventRounded.woff') format('woff'),
        url('fonts/DBHeaventRounded.ttf') format('truetype'),
        url('fonts/DBHeaventRounded.svg#DBHeaventRounded') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DB Adman X';
    src: url('fonts/DBAdmanX.eot');
    src: url('fonts/DBAdmanX.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBAdmanX.woff2') format('woff2'),
        url('fonts/DBAdmanX.woff') format('woff'),
        url('fonts/DBAdmanX.ttf') format('truetype'),
        url('fonts/DBAdmanX.svg#DBAdmanX') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded-Black.eot');
    src: url('fonts/DBHeaventRounded-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded-Black.woff2') format('woff2'),
        url('fonts/DBHeaventRounded-Black.woff') format('woff'),
        url('fonts/DBHeaventRounded-Black.ttf') format('truetype'),
        url('fonts/DBHeaventRounded-Black.svg#DBHeaventRounded-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded-Bold.eot');
    src: url('fonts/DBHeaventRounded-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded-Bold.woff2') format('woff2'),
        url('fonts/DBHeaventRounded-Bold.woff') format('woff'),
        url('fonts/DBHeaventRounded-Bold.ttf') format('truetype'),
        url('fonts/DBHeaventRounded-Bold.svg#DBHeaventRounded-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('DBHeaventRounded_1.eot');
    src: url('DBHeaventRounded_1.eot?#iefix') format('embedded-opentype'),
        url('DBHeaventRounded_1.woff2') format('woff2'),
        url('DBHeaventRounded_1.woff') format('woff'),
        url('DBHeaventRounded_1.ttf') format('truetype'),
        url('DBHeaventRounded_1.svg#DBHeaventRounded') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
background-color:  #F8F8F8;
font-family: 'DB HeaventRounded';
}
h4{
 color:#3F3F3F;
}
h5{
 font-weight: 600;
 color:#3F3F3F;
 font-family: 'DB HeaventRounded';
}
a{
 color:#3F3F3F;
}
a:hover {
 color: #3F3F3F;
 text-decoration: none;
}
.text-adman{
 font-family: 'DB HeaventRounded' !important;
}
.container-mobile{
 max-width: 450px;
}
.text-grey{
 color: #898278;
}
.text-blue{
 color: #214293;
}
.bg-yellow{
 background-color: #F9CE43 ;
}
.bg-grey{
 background-color: #D8D8D8 !important;
}
.bg-head{
 width: 100%;
 max-width: 450px;
 height: 40vh;
 background-color: #F9CE43 ;
 position: absolute;
 top: 0;
}
.shadow{
 box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1) !important;
}
.close {
 opacity: 1 !important;
}
/* HEAD */



@keyframes slideInFromTop {
 0% {
   transform: translateY(-10%);
 }
 100% {
   transform: translateY(0);
 }
}
.head{
 height: 12vh;
 width: 100%;
 transition: 0.25s ease-in;
 animation: 1s ease-out 0s 1 slideInFromTop;
 z-index: 9999;
}
.head h1{
 font-weight: 800;
 display: inline-block;
}

.head .head-logo {
 width: 40px;
 height: auto !important;
 position: inherit !important;
 display: inline-block !important;
 padding: 0px;
 margin-left: 27px;
 margin-top: 8px;
}
.head p{
 margin-top: -13px;
 font-weight: 600;
 color:#3F3F3F;
 font-family: 'DB HeaventRounded';
}
.head .icon{
 width: 100%;
 padding-top: 100%;
 background-color: #fff;
}
.head img{
 max-width: 100%;
 height: 100%;
 object-fit: cover;
 position: absolute;
 left: 50%;
 top: 55%;
 transform: translate(-50%,-50%);
 padding: 1.2vw;
}
.icon-back{
 width: 6%;
 position: absolute;
 top:  1.5rem;
 left: 0.5rem;
}
.share-title{
 color: #232729;
 text-align: left;
 font-size: normal ;
 font-family: 'DB HeaventRounded' !important; 
 font-weight: normal;
 padding-top: 10px;
}

/* SCORE */
.score{
    background-color: #fff;
    margin-top: 22%;
}
.score-shop{
    height: 60px;
    background-color: red;
}
.score-shop{
    width: 16% !important;
}
.score-shop-txt{
    width: 20px;
    height: 20px;
    right: 0;
    bottom: 10;

}
.forms{
    font-family: 'DB HeaventRounded';
    display: block;
    width: 70%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-shadow: 5px 5px 5px #ccc;
}
.btn{
    background-color: black !important;
    color: #f9ce43 !important;
    font-family: 'DB HeaventRounded';
    font-size: 18px;
    font-weight: 600 !important;
    box-shadow: 5px 5px 5px #ccc;
    width: 20% !important;
}
.score-item{
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    
}
.score-item img{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    object-fit: cover;

}
.score-item-num{
    width: 20px;
    height: 20px;
    background-color: #F9CE43;
    z-index: 99999;
    text-align: center;
    color: #fff;
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1) !important;
}
.score .row{
    flex-wrap: nowrap;
    overflow-x: auto;
}
::-webkit-scrollbar {
    display: none;
}
.mt-20 {
    margin-top: 20px;
}
h3{
    font-weight: 600 !important;
    text-align: center;
    font-family: 'DB HeaventRounded';
    margin-left: 10px;
    margin-top: 10px;
    color: #676159;
}
.group{
    display: flex;
    justify-content: space-evenly;
}
h2{
    font-weight: 600 !important;
    font-size: 3rem !important;
    text-align: center;
    font-family: 'DB HeaventRounded';
    margin-left: 10px;
    margin-top: 10px;
    color: #676159;
}
/* PROMOTION */
.promotion{
    margin-bottom: 5%;
}
.promotion-box{
    position: relative;
    width: 100%;
    padding-top: 100%;

}
.ban-share{
    background-color: #ffc95c;
}
.card-text:last-child{
    padding: 10px;
}
.col-6{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.card{
    border-radius: 10px !important;
    box-shadow: 5px 5px 5px #ccc;
}
.mr-100{
    margin-top: 100%;
}
.dp{
    display: -webkit-inline-box;
}
.rows{
    display: flex;
    flex-wrap: wrap
}
.promotion-box a{
  font-size: 12px;
  color: #3F3F3F;
  background-color: #fff;
}
.promotion-item{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #ccc;
}
w-100{
    width: 100%!;
}
.news-card{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    font-size: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #ccc;
}
.size{
height: 70%;
}
.bd{
border-radius: 10px;
}
.mr-event
{
    margin-top: 10px;
    margin-bottom: 5px;
}
.promotion-Rose{
    width: 80%;
    max-width: auto;
    text-align: center; 
}
.promotion-item img{
    width: 60%;
    max-width: auto;
    text-align: center;
}
.promotion-item p{
    font-size: 12px;
    font-weight: 600;
}
.btnShare{
    height: 8vh;
    font-size: 2rem;
    color: #050505;
    line-height: 50px;
    width: 100%;
    position: fixed;
    bottom: -1px;
    right: 0;
    font-weight: 600;
    font-family: 'DB HeaventRounded';
    background-color: #F9CE43;
    border-style: unset;
}


/* MENU */
.footer{
    position: fixed;
    bottom: 0;
    max-width: 450px;
    z-index: 999;
}
.icon-head{
    height: 30px;
    width: 30px;
}
.icon-head img{
    margin-top: 5px;
}
.promotion a{
    font-size: 12px;
    color: #3F3F3F;
}
.head-icon img{
    border: 5px solid #fff;;
    border-radius: 20px;
}
.menu-item-num{
    width: 18px;
    height: 18px;
    background-color: #A73030;
    z-index: 99999;
    text-align: center;
    color: #fff;
    font-size: 12px;
    position: absolute;
    margin-left: 3%;
    top: 12%;
}
.menu-item{
    width: 19%;
    height: auto;
    display: inline-block;
    text-align: center;
}
.menu-item img{
    width: 60%;
    max-height: 38px;
    object-fit: contain;
}
.menu-item a{
    color: #3F3F3F;
}
.w-13{
    width: 13%;
}
.head-text{
    display: flex;
}
.mr-10{
    margin-left: 10px;
    margin-top: 10px;
}
.mt-4{
    margin-top: 1rem !important;
}


.menu{
    top: 0;
    left: 0;
}
.menu-item-active{
    top: 0;
    width: 120%;
    padding-top: 130%;
    position: relative;
    margin-top: -150%;
    margin-left: -12%;
}
.menu-item-active-ab{
    position: absolute;
    top: 0;
    transform: (-50%,-50%);
    text-align: center;
    width: 100%;
    padding-top: 20%;
}
.menu-item-active-ab img{
    width: 40%; 
}

.w-20{
    width: 20%;
}
.footer span{
    font-size: 12px;
    font-family: 'DB HeaventRounded';
    font-weight: 600;
}




@media only screen and (min-width: 450px) {

    .head img{
        padding: 30%;
    }
    
}
@media only screen and (max-width: 420px) {
    
    .menu-item-active {
        margin-top: -160%;
        margin-left: -18%;
    }
    .icon-back img {
        padding: 1.9vw !important;
    }
    .icon-back{
        top:  1.6rem;
        left: 1.1rem;
    }
    .share-title{
        color: #232729;
        text-align: left;
        font-size: normal !important;
        font-family: 'DB HeaventRounded' !important; 
        font-weight: normal;
    }
}
@media only screen and (max-width: 375px) {
    .head{
        height: 14vh;
    }
    .icon-back{
        width: 7%;
        top:  1.7rem !important;
        left: 1rem !important;
    }
    .share-title{
        color: #232729;
        text-align: left;
        font-size: normal !important;
        font-family: 'DB HeaventRounded' !important; 
        font-weight: normal;
        padding-top: 14px;
    }
    .icon-back img {
        padding: 2vw !important;
        padding-left: 5px !important;
    }
}
@media only screen and (max-width: 320px) {

    .icon-back{
        width: 7%;
        top:  1.7rem;
        left: 1rem;
    }
    .icon-back img {
        max-height: 99%;
    }
    .share-title{
        color: #232729;
        text-align: left;
        font-size: normal !important;
        font-family: 'DB HeaventRounded' !important; 
        font-weight: normal;
    }
    .head{
        height: 16vh;
    }

}