@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded.eot');
    src: url('fonts/DBHeaventRounded.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded.woff2') format('woff2'),
        url('fonts/DBHeaventRounded.woff') format('woff'),
        url('fonts/DBHeaventRounded.ttf') format('truetype'),
        url('fonts/DBHeaventRounded.svg#DBHeaventRounded') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DB Adman X';
    src: url('fonts/DBAdmanX.eot');
    src: url('fonts/DBAdmanX.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBAdmanX.woff2') format('woff2'),
        url('fonts/DBAdmanX.woff') format('woff'),
        url('fonts/DBAdmanX.ttf') format('truetype'),
        url('fonts/DBAdmanX.svg#DBAdmanX') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded-Black.eot');
    src: url('fonts/DBHeaventRounded-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded-Black.woff2') format('woff2'),
        url('fonts/DBHeaventRounded-Black.woff') format('woff'),
        url('fonts/DBHeaventRounded-Black.ttf') format('truetype'),
        url('fonts/DBHeaventRounded-Black.svg#DBHeaventRounded-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded-Bold.eot');
    src: url('fonts/DBHeaventRounded-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded-Bold.woff2') format('woff2'),
        url('fonts/DBHeaventRounded-Bold.woff') format('woff'),
        url('fonts/DBHeaventRounded-Bold.ttf') format('truetype'),
        url('fonts/DBHeaventRounded-Bold.svg#DBHeaventRounded-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded_1.eot');
    src: url('fonts/DBHeaventRounded_1.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded_1.woff2') format('woff2'),
        url('fonts/DBHeaventRounded_1.woff') format('woff'),
        url('fonts/DBHeaventRounded_1.ttf') format('truetype'),
        url('fonts/DBHeaventRounded_1.svg#DBHeaventRounded') format('svg');
    font-weight: normal;
    font-style: normal;
}


::-webkit-scrollbar {
    display: none;
}
u{
    font-family: 'DB HeaventRounded';
}
.h{
    font-family: 'DB Adman X';
}
body{
   background-color:  #F8F8F8;
   font-family: 'DB HeaventRounded';
}
h3{
    font-weight: 600;
}
h4{
    color:#3F3F3F;
}
h5{
    font-weight: 600;
    color:#3F3F3F;
    font-family: 'DB HeaventRounded';
}
a{
    color:#3F3F3F;
}
a:hover {
    color: #3F3F3F;
    text-decoration: none;
}
.text-red{
    color: #D95151 !important;
}
.text-adman{
    font-family: 'DB Adman X' !important;
}
.container-mobile{
    max-width: 450px;
}
.text-grey{
    color: #898278;
}
.text-blue{
    color: #214293;
}
.bg-yellow{
    background-color: #F9CE43 ;
}
.bg-black{
    background-color: #000 ;
}
.bg-grey{
    background-color: #D8D8D8 !important;
}
.bg-head{
    width: 100%;
    max-width: 450px;
    height: 40vh;
    background-color: #F9CE43 ;
    position: absolute;
    top: 0;
}
.shadow{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1) !important;
}
.close {
    opacity: 1 !important;
}
/* HEAD */

@keyframes slideInFromTop {
    0% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(0);
    }
}
.head{
    height: 22vw;
    width: 100%;
    transition: 0.25s ease-in;
    animation: 1s ease-out 0s 1 slideInFromTop;
    z-index: 9999;
}
/* .head.bg-black>div.row,
.head.bg-black>div.row div>div.row{
    margin: unset !important;
} */
.head h1{
    font-weight: 800;
}
.head p{
    margin-top: -10px;
    font-weight: 600;
    color:#3F3F3F;
    font-family: 'DB HeaventRounded';
    font-size: 19px;
}
.head .icon {
    width: 100%;
    padding-top: 100%;
    background-color: #fff;
    position: relative;
}
.shop-home .icon{
    margin-top: unset;
    height: 100%;
    padding-left: 120%;
    background-color: #fff;
    position: relative;
}
.head img ,.shop-home .icon img{
    max-width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 1.6vw;
}
.shop-home .icon img{
    padding: 2vw !important;
}
.icon-back{
    width: 6%;
    position: absolute;
    top:  1.5rem;
    left: 0.5rem;
}
.shop-coupon-icon{
    width: 35px !important;
    height: 35px !important;
}
.shop-coupon-icon img{
    max-width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 0.5vw;
}

/* BUTTON */
.add{
    width: 100%;
    max-width: 450px;
    height: 10vh;
    position: fixed;
    bottom: 100px;
}
.btn-add{
    background-color: #000 ;
    width: 20vw;
    height:20vw;
    position: absolute;
    bottom: 0px;
    right: 10px;
    color: #fff;
    /*line-height: 50px;*/
    padding: 5%;
    font-size: 0.8rem;

}
.search{
    border: 0px !important;
    padding-right: 40px;

}
.search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #B1B1B1

}
.icon-search{
    position: absolute;
    bottom: 30%;
    right: 8%;
    width: 6%;
}

.coupon-pic{
    width: 100px;
    height: 100px;
    max-width:70%;
    max-height:70%;
    object-fit: contain;
}
/* SHOP HOME */
.shop-home-cat{
    font-family: 'DB HeaventRounded';
    background-color: #fff;
    margin-top: 22%;
}
.shop-home-cat h4{
    font-weight: 550;
}
.shop-home-cat .row{
    flex-wrap: nowrap;
    overflow-x: auto;
}
.shop-home-cat .col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 36%;
    max-width: 36%;
}

/* SHOP CATEGORY */
.cat-card{
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 0.5rem;
}
.cat-card p{
    color: #767676 !important;
}

/* PRODUCT */
.product h4{
    font-family: 'DB HeaventRounded';
    font-weight: 550;
}
.product-item{
    background-color: #fff;
    border-radius: 1rem;
    position: relative;
    height: 100%;
}
.product-item .flag{
    position: absolute;
    top: 0;
    left: 1rem;
}
.flag-detail {
   position: absolute;
   top: 0;
}
.product-item .flag p{
    line-height: 0;
    color: #fff !important;
    font-size: 0.8rem;
}
.product-item .flag h5{
    color: #fff !important;
    font-family: 'DB Adman X' !important;
}
.product-item .flag img{
    width: 40%;
    height: auto;
}
.product-item p{
    color: #8E99AF;
}
.product-item h4{
    font-weight: 100;
}
.fw-600{
    font-weight: 600;
}
.product-item small{
    color: #6E7177;
}

.product-item .product-add{
    height: 3rem;
    width: 3rem;
    background-color: #DA1111;
    position: relative;
}
.product-item .product-add img{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.product-item img{
    max-height: 200px !important;
}

.product-promotion .row,
.product-new .row,
.product-all .row {
    flex-wrap: nowrap;
    overflow-x: auto;
}

.text-overflow {
    white-space: nowrap !important;
    overflow: hidden!important;
}

.time-text-overflow {
    white-space: nowrap !important;
}

/* MENU */
.footer{
    position: fixed;
    bottom: -1px;
    max-width: 450px;
    z-index: 999;
}
.icon-head{
    height: 30px;
    width: 30px;
}
.icon-head img{
    margin-top: 5px;
}

.promotion a{
    font-size: 12px;
    color: #3F3F3F;
}
.head-icon img{
    border: 5px solid #fff;;
    border-radius: 20px;
}
.menu-item-num{
    width: 18px;
    height: 18px;
    background-color: #A73030;
    z-index: 99999;
    text-align: center;
    color: #fff;
    font-size: 12px;
    position: absolute;
    margin-left: 3%;
    top: 12%;
}
.menu-item{
    width: 19%;
    height: auto;
    display: inline-block;
    text-align: center;
}
.menu-item img{
    width: 60%;
    max-height: 38px;
    object-fit: contain;
}
.menu-item a{
    color: #fff;
}
.menu{
    top: 0;
    left: 0;
}
.menu-item-active{
    top: 0;
    width: 120%;
    padding-top: 130%;
    position: relative;
    margin-top: -150%;
    margin-left: -12%;
}
.menu-item-active-ab{
    position: absolute;
    top: 0;
    transform: (-50%,-50%);
    text-align: center;
    width: 100%;
    padding-top: 20%;
}
.menu-item-active-ab img{
    width: 60%;
}

.w-20{
    width: 20%;
}
.footer span{
    font-size: 0.75rem;
    line-height: 0.75rem;
    font-family: 'DB HeaventRounded';
    font-weight: 600;
}

.btn-add.btn-chat{
    width: 80px !important;
    height: 80px !important;
}

.align-text{
    text-align: right;
    margin-right: 1.2rem !important;
}

.icon-new{
    position:relative;
}

.icon-new img{
    width: 140%;
}

.align-searchbox{
    margin-top: 0.25rem;
}
.coupon-text{
    font-size: 1.9rem;
}
@media only screen and (min-width: 450px) {

    .account .profile-img{
        width: 120%;
        padding-top: 120%;
        margin-top: -60%;
        margin-left: -40%;
    }
    .account .profile-upload{
        height: auto;
        width: 50%;
        position: absolute;
        top: 25%;
        right: 10%;
    }
    .head img{
        padding: 20%;
    }

}
@media only screen and (max-width: 420px) {

    .menu-item-active {
        margin-top: -170%;
    }
    .icon-back img {
        padding: 1.8vw !important;
    }
    .icon-back{
        top:  1.6rem;
        left: 1.1rem;
    }
    .btn-add{
        line-height: inherit;
    }
    .shop-home .icon {
        height: 100%;
        padding-left: 100%;
    }
    .align-searchbox{
        margin-top: 0.40rem;
    }
    .big-alert {
        margin-left: 1vw;
        margin-top: 0vw;
    }

}

@media only screen and (max-width: 375px) {

    .menu-item-active{
        /* margin-top: -240%; */
        margin-top: -180%;
    }
    .head{
        height: 25vw;
    }
    .icon-back{
        width: 7%;
        top:  1.7rem;
        left: 1rem;
    }
    .icon-back img {
        padding: 2vw !important;
    }
    .shop-home .icon {
        height: 100%;
        padding-left: 120%;
    }
    .big-alert {
        margin-left: 0vw;
        margin-top: 0vw;
    }
}

@media only screen and (max-width: 360px) {

    .align-searchbox{
        margin-top: 0.15rem;
    }
    .head{
        height: 25vw;
    }
}

@media only screen and (max-width: 320px) {
    .menu-item-active{
        margin-top: -190%;
    }
    h5 {
        font-size: 1rem;
    }
    .account .icon img{
        padding: 0 !important;

    }
    .head{
        height: 25vw;
    }
    .head img{
        padding: 1vw;
    }
    .icon-back{
        width: 7%;
        top:  1.7rem;
        left: 1rem;
    }
    .shop-home .icon {
        height: 90%;
        padding-left: 155%;
    }
    .pl-3, .px-3 {
        padding-left: 0.5rem!important;
    }
    .pr-3, .px-3 {
        padding-right: 0.5rem!important;
    }
    .add{
        bottom: 80px;
    }
    .footer span {
        font-size: 8.5px;
    }
    .align-searchbox{
        margin-top: 0rem;
    }
    .coupon-text{
        font-size: 1.6rem;
    }
}





/* SHOP HOME */
.shop-home-cat-detail h4{
    font-family: 'DB HeaventRounded';
    font-weight: 550;
}




/* PRODUCT DETAIL***/
.product-detail{
    background-color: #fff;
}
.product-detail .carousel__dot{
    border:0;
    background-color: unset;
}

.product-detail p{
    color:#8E99AF;
}

.product-detail .flag-point{
    background-color: #DA1111;
    padding: 10px;
    width:100%;
    color: #fff;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
}

.product-detail .product-variant{
    list-style: none;
    padding-left: 0px;
}

.product-detail .product-variant li{
    display: inline-block;
    margin: 7px;
    background-color:#fff;
    width: 70px;
    height: 70px;
    padding: 5px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.product-detail .product-variant li img{
    max-height: -webkit-fill-available;
}


.product-detail .product-variant li.disabled{
    filter: grayscale(100%)
    opacity(0.4);
}

.product-detail .product-variant li.active{
    border: 1px solid #777;
    box-shadow: 3px 5px 5px #ccc;
}




/******* CART *******/
.cart-detail .cart-product{
    list-style: none;
    padding-left: 0px;
    background-color: #fff;
}

.cart-detail .cart-product li{
    /*margin-bottom: 7px;*/
    background-color:#fff;
    border: 1px solid #ddd;

}

.bl-dotted-2{
    border-left: 2px dotted #ddd;
}
.br-dotted-2{
    border-right: 2px dotted #ddd;
}



.cart-detail .cart-product li.disabled{
    background-color: #eee;
    border: 1px solid #ddd;
}

.cart-detail .cart-product li .img-product{
    margin: 3px;
    background-color:#fff;
    border: 1px solid #ddd;
    border-radius: 5px;

}
.cart-detail .cart-product li .product-item-detail .col-group-quantity{
    min-height: 70px;
}
.cart-detail .cart-product li .product-item-detail .input-group{
    width: 110%;
    border-radius: 0px;
    box-shadow: 0px 2px 2px#ccc;
    border: 0px;
    position: absolute;
    bottom: 0px;
    right: 15px;
}
.group-quantity{
    border-radius: 0.5rem !important;
}
.cart-detail .cart-product li .product-item-detail .input-group .input-group-text{
    background-color: #fff;
    border: 0px;
    font-size: 30px;
}

.cart-detail .cart-product li .product-item-detail .input-group,
.cart-detail .cart-product li .product-item-detail .input-group>.input-group-prepend,
.cart-detail .cart-product li .product-item-detail .input-group>.input-group-append,
.cart-detail .cart-product li .product-item-detail .input-group input{
    height: 30px;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px;
    text-align: center;


}

.cart-detail .cart-product li .product-item-detail .input-group input.form-control[readonly]{
    background-color: #fff !important;
    top: -3px;
}
.cart-detail .cart-product li .product-item-detail .cart-delete{
    right: 5px;
    border: 0px;
    background:unset;
    color: #DADADA;
    position: absolute;
    padding: 0px;
    outline: none;
    box-shadow: none;
}

.cart-detail .cart-product li .product-item-detail .cart-delete i{
    background: #777;
    border-radius: 50%;
}
.cart-delete img{
    width: 20px;
    height: 20px;
}


.cart-detail .cart-product li .text-gray{
    color: #b5b5b5 !important;
}
.cart-detail .cart-product li .text-gray.dark{
    color: #a9a9a9 !important;
}

.cart-detail .cart-product li.product-item-detail h4{
    font-weight: 600;
}

.cart-detail .cart-product li.product-item-detail .border{
    border: 2px solid #ddd !important;

}

.product-item-detail.order-list h3{
    font-size: 1.5rem;
}

.product-item-detail.order-list .display-price{
    position: absolute;
    bottom: -5px;
    right: 15px;
}

.product-item-detail.order-list .flag-point{
    position: absolute;
    background-image: url(/assets/images/icon-flag.svg);
    top: 0;
    right: 15px;
    color: #fff;
    padding: 1px 8px;

}

.product-item-detail.order-list .flag-point span{
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1;

}

.product-item-detail.order-list .link.text-right{
    right: 16px;
    position: absolute;
    color: #007bff;
    text-decoration: underline;

}



.text-bold{
    font-weight: 600;
}


.cart-product h4 {
    font-size: 1.1rem;
}












.footer.footer-product-detail{
    background-color: #000;
    width: 100vw !important;
    min-height: 80px;

}

.footer.footer-product-detail .detail{
   font-size: 28px;
   color: #fff;
   line-height:normal;


}
.footer.footer-product-detail .detail.display-price span{
    font-size: 26px;

 }


.footer button.btn.btn-buy{
    font-size: 30px;
    padding:10px;
    background-color: #000;
    border-radius: 0px;
    color: #fff;
    width: 100% !important;
}

.footer button.btn.btn-col{
    font-size: 30px;
    width: 100% !important;
}









.icon-back{
    top: 1.8rem;
    left: 1.8rem;
    width: 25px;
}



/* SWEET ALERT*/
.swal2-styled.swal2-confirm,
.btn.btn-primary{
  background-color: #333;
  border-color: #000;
  min-width: 70px;
}


/* COUPON */
.coupon{
    width: 100%;
    font-family: 'DB HeaventRounded';
    font-weight: bold;
}
.coupon .row {
    flex-wrap: nowrap;
    overflow-x: auto;
}
.coupon-detail{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

}
.coupon-detail p{
    line-height: 16px;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.coupon-detail p.reward{
    white-space: nowrap;
    overflow: hidden;
    font-size: 18px;
}
.coupon-detail small{
    line-height: 0px;
    font-weight: bold;
    font-size: 0.7rem !important;
}
.coupon-detail h2{
    font-weight: bold;
}
.coupon-detail-side{
    -ms-transform: rotate(-90deg); /* IE 9 */
    transform: rotate(-90deg);
}
.coupon-detail-side h1{
    font-weight: bold;
    color: #fff;

}
.coupon-detail-side h5{
    margin-top: -10%;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
}
.coupon-detail-img{
    width: 40%;
    padding: 40%;
    background-color: #fff;
    position: relative;
    overflow: hidden;

}
.coupon-detail-img img{
    position: absolute;
    padding: 10%;
    width: 100%;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
}
.reward-detail-img{
    width:40px;
    padding-top: 10%;
    margin-top:20px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

.btn-orange{
    background-color: #FE9A02;
    width: 102%;
    border-radius: .5rem !important;
}
.btn-orange h5{
    font-weight: bold;
    color: #fff;

}
.btn-green{
    background-color: #10A504;
    width: 100%;
    border-radius: .5rem !important;
}

.coupon h4 {
    font-weight: 550;
}

.shop-coupon {
    margin-bottom: 5rem !important;
}

/***** USE COUPON *********/
.search-bar{
    background-color: #fff;
    border-bottom: 2px solid #ddd;
    margin-top: 10px;
    padding:15px 0;
}

.btn-use-coupon{
    padding: 1px 14px;
    margin-top: 25%;
    background-color: #d0d0d0;;
    border-color: #d0d0d0;;
}
.btn-use-coupon:focus {
    outline: 0;
    box-shadow: 0 0 0 0;
}
.btn-use-coupon.btn-available{
    background-color: #28a745;
    border-color: #28a745;
}

.coupon-use-name{
    font-size: 15px !important;
}
.coupon-use-expiredate{
    font-size: 12px !important;
    color: red;
}

.font-tf{
    color: #fff;
    font-size: 20px;
    white-space: nowrap !important;
}
.fs-40{
    font-size: 40px;
}


/******************** ORDER HISTORY ***************/
.nav-order-historty{
    width: 630px;
}
.nav-order-historty .nav-item{
    flex: unset;
    padding: 0px 3px;
}
.nav-order-historty .nav-link{
    padding: 5px 10px 1px 10px !important;
    background-color: #ddd;
    border-color: #bbb;
    font-size: 18px;
    font-weight: 600;
}

/* .nav-order-historty .nav-link.active{

    background-color: #111;
    border-color: #000;
} */

/* .btn-outline-dark:active{
    color: #000 !important;
} */

.swal-mobile{
    max-width: 50% !important;
}
.swal-mobile .swal2-icon{
    margin: 0.5em auto;
}
.swal-mobile .swal2-title{
    font-size: 18px !important;
}

.slip-default{
    width: 100%;
    font-size: 80px;
    border: 1px solid #ddd;
    padding: 20px;
    color: #ccc;
    text-align: center;

}

.input-group>.css-2b097c-container{
    width: 50%;
}

.input-group>.css-2b097c-container:first-child .css-yk16xz-control{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0px;
}
.input-group>.css-2b097c-container:last-child .css-yk16xz-control{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}



/* COUPON MODAL */
.modal-header .close{
    margin-right: -10% !important;
    margin-top: -10% !important;
}
.btn:disabled {
    opacity: 1;
}
.modal p{
    font-size: 10px;
    line-height: 10px;
}
.modal small{
    font-size: 10px !important;
    line-height: 8px !important;
}
.modal h2{
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-top: 0.5rem;
}
.modal h1{
    font-size: 2rem;
    line-height: 2.5rem;
}
.modal h5{
    font-size: 0.6rem;
    line-height: 0.6rem;
}
.modal .col-4{
    padding-right: 5px;
    padding-left: 5px;
}
.modal .mt-3, .my-3 {
    margin-top: 0.5rem !important;
}
.modal .mt-2, .my-2 {
    margin-top: 0.25rem!important;
}
.modal .btn-orange {
    display: none;
}
.modal .btn-orange {
    display: none;
}
.modal .col-10 {
    width: 100% !important;
    max-width: 100% !important;
}
.modal-body h4{
    font-family: 'DB HeaventRounded';
    font-weight: 600;
}
.modal-body .btn{
    font-family: 'DB HeaventRounded';
    font-weight: 600;
    color: #fff;
    font-size: 22px;
    border-radius: 0.6rem;
    padding: 0 !important;
}
.modal-content{
    border-radius: 1rem;
}

.modal-header{
    border-top-left-radius: 1rem;
}

/* Search */
/* .custom-modal {
    z-index: 99999!important;
} */

@media only screen and (max-width: 320px) {
    .menu-item-active{
        margin-top: -170%;
    }
    h5 {
        font-size: 1rem;
    }
    .head{
        height: 16vh;
    }
    .head img{
        padding: 2.2vw;
    }
    .logo-ho{
        width: 45%;
    }
    .coupon-detail h2 {
        font-size: 1.5rem;
    }
    .coupon-detail p {
        font-size: 12px;
    }
    .mt-2, .my-2 {
        margin-top: .25rem!important;
    }
    .carousel-inner{
        height: 190px;
    }
    .news p{
        font-size: .8rem;
        line-height: 1.1rem;
        text-overflow: ellipsis;
    }
    .shop-coupon-icon img{
        width:35px;
        height:35px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        padding: 0.5vw;
    }
    .coupon-pic{
        width: 120px;
        height: 120px;
        max-width:60%;
        max-height:60%;
        object-fit: contain;
    }

}
@media only screen and (max-width: 360px) {
    .shop-home-coupon-btn{
        margin-top: 0px!important;
    }
}



/********** RESET **************/
.custom-modal .modal-content{
    border-radius: .3rem;
}
.custom-modal .btn{
    padding: 6px 15px !important;
    border-radius: .25rem !important;
    margin: 4px;
}



.head2-icon {
    white-space: nowrap;
    flex-wrap: nowrap;
}

.head2-menu {
    margin-left: -0.5rem;
    /* margin-top: -0.2rem; */
}

.head2-menu img {
    width: 55%;
    /* margin-top: 0.45rem !important; */
    margin-left: 0.05rem !important;
}

.img-thumb {
    /* background-color: #fff; */
    width: 80px;
    height: 80px;
    max-width:70%;
    max-height:70%;
    object-fit: contain;
    border-radius: 5px;
}

.img-thumb-user {
    /* background-color: #fff; */
    width: 200px;
    height: 150px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.img-thumb-shop{
    width: 200px;
    height: 150px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.img-category {
    /* background-color: #fff; */
    width: 100%;
    object-fit: contain;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.offline_used, .offline_used:hover {
    color: #fff;
    background-color: #d0d0d0;
    border-color: #d0d0d0;
}


.btn-secondary{
    color: #fff;
    background-color: #d0d0d0;
    border-color: #d0d0d0;
}
.btn-add.btn-chat {
    width: 80px !important;
    height: 80px !important;
}

.img-border {
    width: 100%;
    left: 0;
    top:14px;
    max-height: 38px;
    position: absolute;
}

.img-bg {
    width: 100%;
    max-height: 38px;
    object-fit: contain;
}

@media only screen and (min-height: 800px) {
    .coupon-pic{
        width:100px;
        height: 100px;
        max-width:60%;
        max-height:60%;
        object-fit: contain;
    }
}

.bgGrey {
    background-color: #ddd !important;
}

.align-coupon{
    margin-top: 0.8rem;
}
.price-before-discount{
    text-decoration: line-through;
    color: grey;
}

.product-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-cat-name{
    position: relative;
    bottom:10px;
}
.product-discount-price{
    position: relative;
    top:5px;
}
.small-alert{
    margin-top: 1vw;
}

.box{
    display: -webkit-inline-box;
}

input[type='radio']:after {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: -3px;
    left: 2px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid white;
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem black;
}

input[type='radio']:checked:after {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: -3px;
    left: 2px;
    position: relative;
    background-color: black;
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem black;
}

.quantity-font{
    font-size: 1.8rem;
    padding: 0px;
    font-weight: 600!important;
}

.cart-flag{
    position: absolute;
    left: 18px;
    top: 3px;
    background-color: #da1111;
    height: 40%;
    width: 35%;
    border-top-left-radius: 5px;
    color:white;
}

.cart-flag h5{
    color:white;
    font-size: 1.7rem;
}

.cart-flag p{
    color:white;
    top:-9px;
    position: relative;
}

.cart-item-title{
    font-weight: 600;
}

.buy-btn{
    font-weight: 600!important;
}

.category-card-size{
    flex: 0 0 44%;
    max-width: 44%;
}

.store-name{
    white-space: nowrap !important;
}