@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded.eot');
    src: url('fonts/DBHeaventRounded.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded.woff2') format('woff2'),
        url('fonts/DBHeaventRounded.woff') format('woff'),
        url('fonts/DBHeaventRounded.ttf') format('truetype'),
        url('fonts/DBHeaventRounded.svg#DBHeaventRounded') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DB Adman X';
    src: url('fonts/DBAdmanX.eot');
    src: url('fonts/DBAdmanX.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBAdmanX.woff2') format('woff2'),
        url('fonts/DBAdmanX.woff') format('woff'),
        url('fonts/DBAdmanX.ttf') format('truetype'),
        url('fonts/DBAdmanX.svg#DBAdmanX') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded-Black.eot');
    src: url('fonts/DBHeaventRounded-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded-Black.woff2') format('woff2'),
        url('fonts/DBHeaventRounded-Black.woff') format('woff'),
        url('fonts/DBHeaventRounded-Black.ttf') format('truetype'),
        url('fonts/DBHeaventRounded-Black.svg#DBHeaventRounded-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('fonts/DBHeaventRounded-Bold.eot');
    src: url('fonts/DBHeaventRounded-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/DBHeaventRounded-Bold.woff2') format('woff2'),
        url('fonts/DBHeaventRounded-Bold.woff') format('woff'),
        url('fonts/DBHeaventRounded-Bold.ttf') format('truetype'),
        url('fonts/DBHeaventRounded-Bold.svg#DBHeaventRounded-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DB HeaventRounded';
    src: url('DBHeaventRounded_1.eot');
    src: url('DBHeaventRounded_1.eot?#iefix') format('embedded-opentype'),
        url('DBHeaventRounded_1.woff2') format('woff2'),
        url('DBHeaventRounded_1.woff') format('woff'),
        url('DBHeaventRounded_1.ttf') format('truetype'),
        url('DBHeaventRounded_1.svg#DBHeaventRounded') format('svg');
    font-weight: normal;
    font-style: normal;
}




body{
    background-color:  #F8F8F8;
    font-family: 'DB HeaventRounded';
 }
 h3{
     font-weight: 600;
 }
 h4{
     color:#3F3F3F;
 }
 h5{
     font-weight: 600;
     color:#3F3F3F;
     font-family: 'DB HeaventRounded';
 }
 a{
     color:#3F3F3F;
 }
 a:hover {
     color: #3F3F3F;
     text-decoration: none;
 }
 .text-adman{
     font-family: 'DB Adman X' !important;
 }
 .container-mobile{
     max-width: 450px;
 }
 .text-grey{
     color: #898278;
 }
 .text-blue{
     color: #214293;
 }
 .bg-yellow{
     background-color: #F9CE43 ;
 }
 .bg-grey{
     background-color: #D8D8D8 !important;
 }
 .bg-head{
     width: 100%;
     max-width: 450px;
     height: 40vh;
     background-color: #F9CE43 ;
     position: absolute;
     top: 0;
 }
 .shadow{
     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1) !important;
 }
 .close {
     opacity: 1 !important;
 }

/* HEAD */
@keyframes slideInFromTop {
    0% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(0);
    }
}
.head{
    height: 21vw;
    width: 100%;
    transition: 0.25s ease-in;
    z-index: 9999;
}
.head h1{
    font-weight: 800;
}
.head p{
    margin-top: -10px;
    font-weight: 600;
    color:#3F3F3F;
    font-family: 'DB HeaventRounded';
}
.head .icon{
    width: 100%;
    padding-top: 100%;
    background-color: #fff;
}
.head img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%);
    padding: 2.5vw;
}
.icon-back{
    width: 6%;
    position: absolute;
    top:  1.5rem;
    left: 0.5rem;
}
.align-title{
    padding-top: 9px;
}

/* BUTTON */
.btn{
    background-color: #F9CE43;
    height: 8vh;
    font-size: 2rem;
    color: #fff;
    line-height: 50px;
    width: 100%;
    /* max-width: 450px; */
    position: fixed;
    bottom: 0;
    right: 0;
}


/* SCORE */
.score{
    background-color: #fff;
    margin-top: 22%;
}
.score-shop{
    height: 60px;
    background-color: red;
}
.score-shop{
    width: 16% !important;
}
.score-shop-txt{
    width: 20px;
    height: 20px;
    right: 0;
    bottom: 10;

}
.score-item{
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    
}
.score-item img{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    object-fit: cover;

}
.score-item-num{
    width: 18px;
    height: 18px;
    background-color: #F9CE43;
    z-index: 99999;
    text-align: center;
    color: #fff;
    font-size: 12px;
    position: absolute;
    right: 0;
    bottom: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1) !important;
}
.score .row{
    flex-wrap: nowrap;
    overflow-x: auto;
}
::-webkit-scrollbar {
    display: none;
}

.w-20{
    width: 20%;
}
.footer span{
    font-size: 12px;
    font-family: 'DB HeaventRounded';
    font-weight: 600;
}

/* interest */
.interest{
    margin-bottom: 20%;
}
.interest-box{
    position: relative;
    width: 100%;
    padding-top: 100%;

}
.interest-box a{
  font-size: 12px;
  color: #3F3F3F;
  background-color: #fff;
}
.interest-item{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.interest-item img{
    height: 35%;
    text-align: center;
    margin-top: 3.5rem;
    margin-left: 14px;
}
.interest-item.unactive img{
    filter: grayscale(100%);
}
.interest-item p {
    font-size: 20px;
    font-weight: 600;
    margin-top: 1rem;
}

.interest-checkbox{
    float: right;
    padding-top: 10px;
    padding-right: 20px;
}

/* CHECKBOX */
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #f9ce43;
    background-color: #f9ce43;
}
.custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: #f9ce43;
    border: #f9ce43 solid 1px;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color:#F9CE43;
    border-radius: 50%;
    width: 23px;
    height:23px;
}
.custom-checkbox .custom-control-input:not(:checked) ~ .custom-control-label::before {
    border-radius: 50%;
    width: 23px;
    height:23px;
}
.custom-checkbox .custom-control-input:not(:checked) ~ .custom-control-label::after {
    width: 23px;
    height:23px;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after{
    width: 23px;
    height:23px;
}
.form-control-lg {
    padding: 0rem;
}
/** focus shadow yellowish **/
.custom-checkbox .custom-control-input:focus~.custom-control-label::before{
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #F9CE43; 
}
/* CHECKBOX END */

@media only screen and (min-width: 450px) {

    .account .profile-img{
        width: 120%;
        padding-top: 120%;
        margin-top: -60%;
        margin-left: -40%;
    }
    .account .profile-upload{ 
        height: auto;
        width: 50%;
        position: absolute;
        top: 25%;
        right: 10%;
    }
    .head img{
        padding: 30%;
    }
    
}
@media only screen and (max-width: 420px) {
    
    .menu-item-active {
        margin-top: -160%;
        margin-left: -18%;
    }
    .icon-back img {
        padding: 1.8vw !important;
    }
    .icon-back{
        top:  1.6rem;
        left: 1.1rem;
    }
    .btn-add{
        line-height: 35px;
    }


}

@media (max-width: 410px) { 

    .interest-item img{
        object-fit: contain;
        height: 45%;
        width: 60%;
        text-align: center;
        margin-top: 2.5rem;
        margin-left: 14px;
    }
    .interest-item p {
        font-size: 18px;
        font-weight: 600;
        margin-top: 0.5rem;
    }
}

@media only screen and (max-width: 375px) {

    .menu-item-active{
        margin-top: -180%;
        margin-left: -24%;
    }
    .head{
        height: 24vw;
    }
    .icon-back{
        width: 7%;
        top:  1.7rem;
        left: 1rem;
    }
    .icon-back img {
        padding: 2vw !important;
        padding-left: 5px !important;
    }
    .align-title{
        padding-top: 12px;
    }
    .menu-item-active{

        margin-top: -180%;
        margin-left: -16%;
    }

}

@media only screen and (max-width: 320px) {
    .menu-item-active{
        margin-top: -180%;
        margin-left: -24%;
    }
    h5 {
        font-size: 1rem;
    }
    .account .icon img{
        padding: 0 !important;
    
    }
    .head{
        height: 28vw;
    }
    .head img{
        padding: 2.2vw;
    }
    .icon-back{
        width: 7%;
        top:  1.7rem;
        left: 1rem;
    }
    .pl-3, .px-3 {
        padding-left: 0.5rem!important;
    }
    .pr-3, .px-3 {
        padding-right: 0.5rem!important;
    }
    .add{
        bottom: 80px;
    }
    .btn-add{
        width: 9vh;
        height:9vh;
    }

}
.p-8{
    padding: 8px;
}
.b-1{
    border-radius: 1rem!important; 
}



@media (max-width: 320px) { 

    .interest-item img{
        object-fit: contain;
        height: 50px;
        width: 50px;
        text-align: center;
        margin-top: 2.5rem;
        margin-left: 14px;
    }
    .interest-item p {
        font-size: 16px;
        font-weight: 600;
        margin-top: 10px;
    }
    .btn{
        font-size: 1.5rem !important;
    }
}

@media only screen and (min-height: 890px) {
    .head{
        height: 21vw;
    }
}