body{
  /*background-color: black !important;*/
}
.demo-image-preview {
  position: relative;
  text-align: center;
}

.demo-image-preview > img {
  width: 768px;
}

@media(max-width:768px){
  .demo-image-preview > img {
    width: 100%;
  }
}

/* fullscreen enable by props */
.demo-image-preview-fullscreen > img {
  width: 100vw;
  height:100vh;
}

.group-panel{
/*   position: absolute;
  left: 0;
  bottom: 0px; */
}

.btn{
  height: unset !important;
  font-weight: unset !important;
}

@media (max-width: 768px){

  .react-html5-camera-photo>.display-error, .react-html5-camera-photo>img, .react-html5-camera-photo>video {
      width: 100%;
      object-fit: cover;
      height: calc(100vw);
  }
}