body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.lazy-load-image-background.blur.lazy-load-image-loaded{
  display: unset !important;
}

.swal2-container {
  z-index: 9999999999;
}
#swal2-content.swal2-html-container {
  font-size: 1.3em;
}

.swal2-styled.swal2-confirm,
.swal2-styled.swal2-cancel
{
  font-family: 'DB HeaventRounded';
  font-weight: 600;
  text-align: center;
  user-select: none;
  padding: .375rem 1.25rem;

  font-size: 1.5rem;
  line-height: 1.5;
 
  
}

.swal2-styled.swal2-confirm:not(.btn-shop),
.btn.btn-primary:not(.btn-shop){
  background-color: #F9CE43;
  border-color: #F9CE43;
  
}

.swal2-styled.swal2-confirm.btn-black, 
.btn.btn-primary.btn-black{
  background-color: #333 !important;
  border-color: #000 !important;
}

.swal2-styled.swal2-confirm.btn-darkblue, 
.btn.btn-primary.btn-darkblue{
  background-color: #003381 !important;
  border-color: #003381 !important;
}

.form-group .react-datepicker-wrapper{
  width: 100%;
}
a:hover,
a:active,
a:visited{
  text-decoration: none;
}


.shop-page .shop-home{
  margin-bottom: 100px;
  
}

.shop-page .add{
  width: 20vh;
  right: 0;
}

.shop-page .add>.btn-add{
  width: 20vw;
  padding: 14px;
}

.swal-terms{
  text-align: left;
  font-size: 1.1rem;
}
.swal-terms h4{
  font-weight: 600;
  font-size: 1.4rem;
}
.swal-terms p {
  text-indent: 1.5em;
}









.link-shop{
  background: red;
  padding: 50px;
 
  position: absolute;


  position: absolute;

  margin-left: -100px;

  width: 100px;

  margin-bottom: -10000px;

  padding: 10px 10px;
}

/**************** MODAL *****************/

@media (max-width: 576px){
  .modal-dialog {
    max-width: 100%;
    margin: 10px;
  }
}

.custom-modal .modal-title{
  /*font-size: 1.25rem !important;*/
}

.custom-modal .modal-footer .btn-group{
  width: 100%;
}

.custom-modal .modal-content{
  border: 1px solid #ddd;
}

/*********** FIX BOTTOM MODAL ******/
.fix-bottom-modal .modal-dialog{
    bottom: 0px;
    position: absolute;
    width: 100%;
    margin: 0px;
}

.fix-bottom-modal .modal-body{
  
  overflow-y: auto;
}
@media only screen and (min-height: 568px) {
  .fix-bottom-modal .modal-body{
    height: 450px;
  }
}
@media only screen and (min-height: 667px) {
  .fix-bottom-modal .modal-body{
    height: 500px;
  }
}
@media only screen and (min-height: 736px) {
  .fix-bottom-modal .modal-body{
    height: 600px;
  }
}



.fix-bottom-modal .modal-dialog .modal-content{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  min-height: 300px;
}

.fix-bottom-modal .modal-dialog .modal-content small{
  font-size: 18px !important;
}

.fix-bottom-modal .close{
  background: #BDBDBD;
  padding: 2px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: #fff;
}

.fix-bottom-modal .toggle{
  background-color: unset;
  box-shadow: unset !important;
  width: 90%;
}
.fix-bottom-modal .toggle .col{
  text-align: center;
}
.fix-bottom-modal .toggle .col div{
  border: 1px solid #000;
  background-color: #000;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  display: inline-block;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  padding-top: 20px;
}
.fix-bottom-modal .toggle .col div.toggle-active{
  background-color: #FFF;
  color: #000;

}

.fix-bottom-modal .code-text{
  font-size: 48px;
  font-weight: bold;
}

.fix-bottom-modal .btn.btn-black{
  background-color: black;
  padding: .300rem .75rem !important;
  line-height: 1.5;
  border-radius: .25rem;
}

.fix-bottom-modal h1.date-countdown{
  font-weight: bold;
}

.fix-bottom-modal .coupon-text-detail p{
  font-size: 28px;
}




.toggle-barcode .react-switch-bg{
  width: 200px !important;
}
.toggle-barcode .react-switch-bg div{
  width: 100px !important;
}


.search-group>input{
  border-right: 0px;
}
.search-group .input-group-text{
  background-color: #fff;
  border-left: 0px;
  color: #ccc;
}




/************* Card OFFLINE *************/
.my-card-discount{
  margin-top: 25vw !important;
}


.container-card-offine .container-content{
  background-color: #939393;
  height: 100vh;
}
.container-card-offine .wrap-icon-takephoto{
  padding: 50px;
}
.container-card-offine .wrap-icon-takephoto>div{
  border-radius: 5px;
  
}
.container-card-offine .wrap-icon-takephoto img{
  filter: grayscale(100%);
  padding: 30px !important

}


/*** validation ***/
.input-wrap label.error{
  display: block;
  right: 0;
  padding-top: 28px;
  margin-bottom: 0rem;
  text-align: right;
  color: red;
}
.input-wrap.no-padding label.error{
  padding-top: 0px;
}




.react-datepicker-popper{
  z-index: 9999;
}


/********** NOTI ******************/
.noti-num-border{
  position: absolute;
  border-radius: 50%;
  padding: 2px;
  width: 25px;
  height: 25px;
  text-align: center;
  top: -10px;
  left: 15px;
  background-color: red;
  color: #fff;
  border-color: red;
  align-items: center;
  text-align: center;
  display: inline-grid;
}

.unread{
  background-color:rgba(249, 206, 67,.2) !important;
}

/* #root { display:block; } */
/* คอมเมนท์ จอแนวนอนไว้ก่อน */
/* @media only screen and (orientation:landscape){
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
  #root {  
    width: 100vh;
    height: 100vw;
    left: 0;
    overflow-x: auto;
  }
  
} */
